<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K.half</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-10</integer>
		<key>@MMK_R_Dda</key>
		<integer>-70</integer>
		<key>@MMK_R_Ja</key>
		<integer>5</integer>
		<key>@MMK_R_La</key>
		<integer>-10</integer>
		<key>@MMK_R_Pa</key>
		<integer>-60</integer>
		<key>@MMK_R_Va</key>
		<integer>-10</integer>
		<key>dvCha</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>15</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-90</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V.half</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-70</integer>
		<key>@MMK_R_Gha</key>
		<integer>-50</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-50</integer>
		<key>@MMK_R_La</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-40</integer>
		<key>@MMK_R_Ya</key>
		<integer>-40</integer>
		<key>dvSha</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>asterisk</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>40</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>asterisk</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>5</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>dvB</key>
	<dict>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
	</dict>
	<key>dvC</key>
	<dict>
		<key>dvCa</key>
		<integer>-65</integer>
	</dict>
	<key>dvDh</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-10</integer>
		<key>@MMK_R_Pa</key>
		<integer>-50</integer>
		<key>@MMK_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-10</integer>
	</dict>
	<key>dvEight</key>
	<dict>
		<key>dvEight.ss05</key>
		<integer>-30</integer>
		<key>dvNine</key>
		<integer>-30</integer>
		<key>dvNine.ss05</key>
		<integer>10</integer>
		<key>dvOne.ss05</key>
		<integer>-20</integer>
		<key>dvSeven</key>
		<integer>10</integer>
		<key>dvZero</key>
		<integer>-30</integer>
	</dict>
	<key>dvEight.ss05</key>
	<dict>
		<key>dvEight</key>
		<integer>30</integer>
		<key>dvFive</key>
		<integer>20</integer>
		<key>dvFive.ss05</key>
		<integer>30</integer>
		<key>dvFour</key>
		<integer>10</integer>
		<key>dvNine</key>
		<integer>-20</integer>
		<key>dvNine.ss05</key>
		<integer>20</integer>
		<key>dvOne</key>
		<integer>10</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvThree</key>
		<integer>10</integer>
		<key>dvTwo</key>
		<integer>10</integer>
		<key>dvZero</key>
		<integer>10</integer>
	</dict>
	<key>dvFive</key>
	<dict>
		<key>dvEight.ss05</key>
		<integer>-20</integer>
		<key>dvFour</key>
		<integer>-30</integer>
		<key>dvNine</key>
		<integer>-40</integer>
		<key>dvNine.ss05</key>
		<integer>10</integer>
		<key>dvOne</key>
		<integer>-10</integer>
		<key>dvOne.ss05</key>
		<integer>-30</integer>
		<key>dvSix</key>
		<integer>-10</integer>
		<key>dvThree</key>
		<integer>-20</integer>
		<key>dvTwo</key>
		<integer>-20</integer>
		<key>dvZero</key>
		<integer>-20</integer>
	</dict>
	<key>dvFive.ss05</key>
	<dict>
		<key>dvEight</key>
		<integer>-20</integer>
		<key>dvFive</key>
		<integer>20</integer>
		<key>dvFour</key>
		<integer>20</integer>
		<key>dvNine</key>
		<integer>-10</integer>
		<key>dvNine.ss05</key>
		<integer>10</integer>
		<key>dvOne</key>
		<integer>10</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvThree</key>
		<integer>10</integer>
		<key>dvTwo</key>
		<integer>15</integer>
		<key>dvZero</key>
		<integer>-20</integer>
	</dict>
	<key>dvFour</key>
	<dict>
		<key>dvEight</key>
		<integer>-20</integer>
		<key>dvEight.ss05</key>
		<integer>0</integer>
		<key>dvFive</key>
		<integer>10</integer>
		<key>dvFive.ss05</key>
		<integer>10</integer>
		<key>dvFour</key>
		<integer>20</integer>
		<key>dvNine</key>
		<integer>10</integer>
		<key>dvNine.ss05</key>
		<integer>10</integer>
		<key>dvOne</key>
		<integer>10</integer>
		<key>dvOne.ss05</key>
		<integer>10</integer>
		<key>dvSeven</key>
		<integer>50</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvThree</key>
		<integer>0</integer>
		<key>dvZero</key>
		<integer>-20</integer>
	</dict>
	<key>dvG</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-10</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_Ma</key>
		<integer>-10</integer>
		<key>@MMK_R_Na</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
	</dict>
	<key>dvGh</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
		<key>dvCa</key>
		<integer>-50</integer>
	</dict>
	<key>dvH</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Na</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-10</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-20</integer>
	</dict>
	<key>dvJh</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-50</integer>
	</dict>
	<key>dvM</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-50</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_La</key>
		<integer>-50</integer>
		<key>@MMK_R_Ma</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Ra</key>
		<integer>-50</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-40</integer>
		<key>dvCa</key>
		<integer>-50</integer>
		<key>dvCha</key>
		<integer>-30</integer>
		<key>dvTha</key>
		<integer>-20</integer>
	</dict>
	<key>dvN</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
	</dict>
	<key>dvN.alt</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-40</integer>
	</dict>
	<key>dvNine</key>
	<dict>
		<key>dvEight.ss05</key>
		<integer>-10</integer>
		<key>dvFive</key>
		<integer>10</integer>
		<key>dvFive.ss05</key>
		<integer>20</integer>
		<key>dvFour</key>
		<integer>10</integer>
		<key>dvNine</key>
		<integer>-20</integer>
		<key>dvNine.ss05</key>
		<integer>20</integer>
		<key>dvOne.ss05</key>
		<integer>-10</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvZero</key>
		<integer>-20</integer>
	</dict>
	<key>dvNine.ss05</key>
	<dict>
		<key>dvEight</key>
		<integer>10</integer>
		<key>dvEight.ss05</key>
		<integer>-20</integer>
		<key>dvFive</key>
		<integer>20</integer>
		<key>dvFive.ss05</key>
		<integer>50</integer>
		<key>dvFour</key>
		<integer>20</integer>
		<key>dvNine</key>
		<integer>-10</integer>
		<key>dvOne</key>
		<integer>20</integer>
		<key>dvOne.ss05</key>
		<integer>-10</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvThree</key>
		<integer>20</integer>
		<key>dvTwo</key>
		<integer>20</integer>
		<key>dvZero</key>
		<integer>-10</integer>
	</dict>
	<key>dvNn</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
		<key>dvSha</key>
		<integer>-40</integer>
		<key>dvSha.MAR</key>
		<integer>-50</integer>
	</dict>
	<key>dvNy</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>dvCa</key>
		<integer>-80</integer>
	</dict>
	<key>dvOne</key>
	<dict>
		<key>dvEight.ss05</key>
		<integer>10</integer>
		<key>dvFive</key>
		<integer>40</integer>
		<key>dvFive.ss05</key>
		<integer>40</integer>
		<key>dvFour</key>
		<integer>10</integer>
		<key>dvNine.ss05</key>
		<integer>20</integer>
		<key>dvOne.ss05</key>
		<integer>20</integer>
		<key>dvSeven</key>
		<integer>40</integer>
		<key>dvSix</key>
		<integer>30</integer>
		<key>dvThree</key>
		<integer>20</integer>
		<key>dvTwo</key>
		<integer>10</integer>
		<key>dvZero</key>
		<integer>10</integer>
	</dict>
	<key>dvOne.ss05</key>
	<dict>
		<key>dvFive</key>
		<integer>30</integer>
		<key>dvNine.ss05</key>
		<integer>30</integer>
		<key>dvSeven</key>
		<integer>30</integer>
		<key>dvSix</key>
		<integer>15</integer>
	</dict>
	<key>dvP</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_La</key>
		<integer>-20</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
		<key>dvCa</key>
		<integer>-75</integer>
		<key>dvCha</key>
		<integer>-20</integer>
	</dict>
	<key>dvPh</key>
	<dict>
		<key>@MMK_R_Pa</key>
		<integer>-65</integer>
	</dict>
	<key>dvPh.alt</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-40</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
	</dict>
	<key>dvS</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-10</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-20</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
	</dict>
	<key>dvSeven</key>
	<dict>
		<key>dvEight</key>
		<integer>10</integer>
		<key>dvEight.ss05</key>
		<integer>-20</integer>
		<key>dvFive</key>
		<integer>25</integer>
		<key>dvFour</key>
		<integer>-15</integer>
		<key>dvNine</key>
		<integer>-20</integer>
		<key>dvNine.ss05</key>
		<integer>30</integer>
		<key>dvOne.ss05</key>
		<integer>-20</integer>
		<key>dvSix</key>
		<integer>10</integer>
		<key>dvTwo</key>
		<integer>0</integer>
		<key>dvZero</key>
		<integer>20</integer>
	</dict>
	<key>dvSh</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>0</integer>
		<key>@MMK_R_Dda</key>
		<integer>-20</integer>
		<key>@MMK_R_Gha</key>
		<integer>-10</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_Pa</key>
		<integer>-10</integer>
		<key>@MMK_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>-10</integer>
		<key>dvDda</key>
		<integer>0</integer>
		<key>dvDdha</key>
		<integer>-20</integer>
		<key>dvSha</key>
		<integer>-30</integer>
	</dict>
	<key>dvSh.MAR</key>
	<dict>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-10</integer>
	</dict>
	<key>dvSix</key>
	<dict>
		<key>dvEight</key>
		<integer>-20</integer>
		<key>dvEight.ss05</key>
		<integer>-50</integer>
		<key>dvFive</key>
		<integer>-20</integer>
		<key>dvFour</key>
		<integer>-20</integer>
		<key>dvNine</key>
		<integer>-60</integer>
		<key>dvNine.ss05</key>
		<integer>-30</integer>
		<key>dvOne</key>
		<integer>-20</integer>
		<key>dvOne.ss05</key>
		<integer>-40</integer>
		<key>dvSeven</key>
		<integer>-10</integer>
		<key>dvSix</key>
		<integer>-30</integer>
		<key>dvThree</key>
		<integer>-30</integer>
		<key>dvTwo</key>
		<integer>-40</integer>
		<key>dvZero</key>
		<integer>-60</integer>
	</dict>
	<key>dvSs</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-40</integer>
		<key>@MMK_R_Dda</key>
		<integer>-50</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>-50</integer>
		<key>@MMK_R_Ya</key>
		<integer>-40</integer>
	</dict>
	<key>dvT</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
	</dict>
	<key>dvThree</key>
	<dict>
		<key>dvEight</key>
		<integer>-10</integer>
		<key>dvEight.ss05</key>
		<integer>-30</integer>
		<key>dvFour</key>
		<integer>-10</integer>
		<key>dvNine</key>
		<integer>-30</integer>
		<key>dvOne.ss05</key>
		<integer>-20</integer>
		<key>dvSeven</key>
		<integer>10</integer>
		<key>dvTwo</key>
		<integer>-10</integer>
		<key>dvZero</key>
		<integer>-20</integer>
	</dict>
	<key>dvTwo</key>
	<dict>
		<key>dvEight</key>
		<integer>-10</integer>
		<key>dvEight.ss05</key>
		<integer>-10</integer>
		<key>dvFive</key>
		<integer>10</integer>
		<key>dvFive.ss05</key>
		<integer>30</integer>
		<key>dvFour</key>
		<integer>-20</integer>
		<key>dvNine</key>
		<integer>-10</integer>
		<key>dvNine.ss05</key>
		<integer>20</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>5</integer>
		<key>dvZero</key>
		<integer>-15</integer>
	</dict>
	<key>dvY</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-40</integer>
		<key>@MMK_R_Ka</key>
		<integer>-40</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>dvCa</key>
		<integer>-40</integer>
	</dict>
	<key>dvZero</key>
	<dict>
		<key>dvEight</key>
		<integer>10</integer>
		<key>dvEight.ss05</key>
		<integer>-30</integer>
		<key>dvFive</key>
		<integer>20</integer>
		<key>dvFour</key>
		<integer>-20</integer>
		<key>dvNine</key>
		<integer>-30</integer>
		<key>dvNine.ss05</key>
		<integer>20</integer>
		<key>dvOne</key>
		<integer>-10</integer>
		<key>dvOne.ss05</key>
		<integer>-30</integer>
		<key>dvSeven</key>
		<integer>20</integer>
		<key>dvSix</key>
		<integer>-20</integer>
		<key>dvThree</key>
		<integer>-30</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>zero</key>
		<integer>-25</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>five</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_b</key>
		<integer>40</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>five</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-45</integer>
		<key>one</key>
		<integer>10</integer>
		<key>seven</key>
		<integer>5</integer>
		<key>six</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>5</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>eight</key>
		<integer>-10</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-30</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
