<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>818F884A-9448-4DD2-A77B-976162CCCBC7</key>
		<dict>
			<key>HV</key>
			<integer>76</integer>
		</dict>
		<key>UUID0</key>
		<dict>
			<key>HV</key>
			<integer>76</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>818F884A-9448-4DD2-A77B-976162CCCBC7</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>750</real>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>dvShortA</string>
		<string>dvA</string>
		<string>dvAa</string>
		<string>dvI</string>
		<string>dvIi</string>
		<string>dvU</string>
		<string>dvUu</string>
		<string>dvVocalicR</string>
		<string>dvVocalicL</string>
		<string>dvCandraE</string>
		<string>dvShortE</string>
		<string>dvE</string>
		<string>dvAi</string>
		<string>dvCandraO</string>
		<string>dvShortO</string>
		<string>dvO</string>
		<string>dvAu</string>
		<string>dvKa</string>
		<string>dvKha</string>
		<string>dvGa</string>
		<string>dvGha</string>
		<string>dvNga</string>
		<string>dvCa</string>
		<string>dvCha</string>
		<string>dvJa</string>
		<string>dvJha</string>
		<string>dvNya</string>
		<string>dvTta</string>
		<string>dvTtha</string>
		<string>dvDda</string>
		<string>dvDdha</string>
		<string>dvNna</string>
		<string>dvTa</string>
		<string>dvTha</string>
		<string>dvDa</string>
		<string>dvDha</string>
		<string>dvNa</string>
		<string>dvNnna</string>
		<string>dvPa</string>
		<string>dvPha</string>
		<string>dvBa</string>
		<string>dvBha</string>
		<string>dvMa</string>
		<string>dvYa</string>
		<string>dvRa</string>
		<string>dvRra</string>
		<string>dvLa</string>
		<string>dvVa</string>
		<string>dvSha</string>
		<string>dvSsa</string>
		<string>dvSa</string>
		<string>dvHa</string>
		<string>dvQa</string>
		<string>dvKhha</string>
		<string>dvGhha</string>
		<string>dvZa</string>
		<string>dvDddha</string>
		<string>dvRha</string>
		<string>dvFa</string>
		<string>dvYya</string>
		<string>dvMatraAa</string>
		<string>dvMatraI</string>
		<string>dvMatraIi</string>
		<string>dvMatraU</string>
		<string>dvMatraUu</string>
		<string>dvMatraVocalicR</string>
		<string>dvMatraCandraE</string>
		<string>dvMatraShortE</string>
		<string>dvMatraE</string>
		<string>dvMatraAi</string>
		<string>dvMatraCandraO</string>
		<string>dvMatraShortO</string>
		<string>dvMatraO</string>
		<string>dvMatraAu</string>
		<string>dvHalant</string>
		<string>dvCandrabindu</string>
		<string>dvAnusvara</string>
		<string>dvVisarga</string>
		<string>dvNukta</string>
		<string>dvReph</string>
		<string>dvRakar</string>
		<string>dvKRa</string>
		<string>dvKhRa</string>
		<string>dvGRa</string>
		<string>dvGhRa</string>
		<string>dvCRa</string>
		<string>dvJRa</string>
		<string>dvJhRa</string>
		<string>dvTRa</string>
		<string>dvThRa</string>
		<string>dvDRa</string>
		<string>dvDhRa</string>
		<string>dvNRa</string>
		<string>dvPRa</string>
		<string>dvPhRa</string>
		<string>dvBRa</string>
		<string>dvBhRa</string>
		<string>dvMRa</string>
		<string>dvYRa</string>
		<string>dvLRa</string>
		<string>dvVRa</string>
		<string>dvShRa</string>
		<string>dvSsRa</string>
		<string>dvSRa</string>
		<string>dvHRa</string>
		<string>dvQRa</string>
		<string>dvKhhRa</string>
		<string>dvKSsa</string>
		<string>dvJNya</string>
		<string>dvDRYa</string>
		<string>dvDVYa</string>
		<string>dvShRYa</string>
		<string>dvTtTta</string>
		<string>dvTtTtha</string>
		<string>dvTthTtha</string>
		<string>dvDdDda</string>
		<string>dvDdDdha</string>
		<string>dvDdhDdha</string>
		<string>dvDGa</string>
		<string>dvDDa</string>
		<string>dvDDha</string>
		<string>dvDNa</string>
		<string>dvDBa</string>
		<string>dvDBha</string>
		<string>dvDMa</string>
		<string>dvDYa</string>
		<string>dvDVa</string>
		<string>dvKSsMa</string>
		<string>dvKSsYa</string>
		<string>dvKCa</string>
		<string>dvCCha</string>
		<string>dvTTa</string>
		<string>dvShCa</string>
		<string>dvShNa</string>
		<string>dvShVa</string>
		<string>dvK</string>
		<string>dvKh</string>
		<string>dvG</string>
		<string>dvGh</string>
		<string>dvC</string>
		<string>dvJ</string>
		<string>dvJh</string>
		<string>dvNy</string>
		<string>dvNn</string>
		<string>dvT</string>
		<string>dvTh</string>
		<string>dvDh</string>
		<string>dvN</string>
		<string>dvP</string>
		<string>dvPh</string>
		<string>dvB</string>
		<string>dvBh</string>
		<string>dvM</string>
		<string>dvY</string>
		<string>dvL</string>
		<string>dvV</string>
		<string>dvSh</string>
		<string>dvSs</string>
		<string>dvS</string>
		<string>dvH</string>
		<string>dvKSs</string>
		<string>dvZero</string>
		<string>dvOne</string>
		<string>dvTwo</string>
		<string>dvThree</string>
		<string>dvFour</string>
		<string>dvFive</string>
		<string>dvSix</string>
		<string>dvSeven</string>
		<string>dvEight</string>
		<string>dvNine</string>
		<string>dvDanda</string>
		<string>dvDoubleDanda</string>
		<string>dvYa.post</string>
		<string>dvTtTtYa</string>
		<string>dvTthTthYa</string>
		<string>dvDdDdYa</string>
		<string>dvDDYa</string>
		<string>dvDDhYa</string>
		<string>dvDBhYa</string>
		<string>dvSsTtYa</string>
		<string>dvSsTthYa</string>
		<string>dvNgYa</string>
		<string>dvTtYa</string>
		<string>dvTthYa</string>
		<string>dvDdYa</string>
		<string>dvDdhYa</string>
		<string>dvKSsVa</string>
		<string>dvNDRa</string>
		<string>dvDhVa</string>
		<string>dvSsTta</string>
		<string>dvSsTtha</string>
		<string>dvTRa.alt</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>exclam</string>
		<string>period</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>slash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>hairspace</string>
		<string>space</string>
		<string>thinspace</string>
		<string>dvHalant.small</string>
		<string>dvRakar.small</string>
		<string>dvMatraU.small</string>
		<string>dvMatraUu.small</string>
		<string>dvMatraVocalicR.small</string>
		<string>quotesingleleft</string>
		<string>quotesingleright</string>
		<string>dvHU</string>
		<string>dvHu</string>
		<string>dvDU</string>
		<string>dvDu</string>
		<string>dvDRi</string>
		<string>dvShMatraVocalicR</string>
		<string>dvRMatraUu</string>
		<string>dvRMatraU</string>
		<string>dvHMatraVocalicR</string>
		<string>dvRakarMatraUu</string>
		<string>dvRakarMatraU</string>
		<string>dvMatraAuRephAnusvara</string>
		<string>dvMatraORephAnusvara</string>
		<string>dvMatraAuReph</string>
		<string>dvMatraOReph</string>
		<string>dvMatraAiRephAnusvara</string>
		<string>dvMatraAiReph</string>
		<string>dvMatraAiAnusvara</string>
		<string>dvMatraERephAnusvara</string>
		<string>dvMatraEReph</string>
		<string>dvMatraIiRephAnusvara</string>
		<string>dvMatraIiReph</string>
		<string>dvMatraEAnusvara</string>
		<string>dvRephAnusvara</string>
		<string>dvIiAnusvara</string>
	</array>
</dict>
</plist>
