<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_Cha</key>
	<array>
		<string>dvCha</string>
		<string>dvCChVa</string>
		<string>dvCCha</string>
		<string>dvChVa</string>
	</array>
	<key>@MMK_L_Da</key>
	<array>
		<string>dvI</string>
		<string>dvIi</string>
		<string>dvDda</string>
		<string>dvDa</string>
		<string>dvDddha</string>
		<string>dvDdda</string>
		<string>dvDRa</string>
		<string>dvDGRa</string>
		<string>dvDDRa</string>
		<string>dvDBRa</string>
		<string>dvDBhRa</string>
		<string>dvDVRa</string>
		<string>dvDdKa</string>
		<string>dvDdGa</string>
		<string>dvDdTta</string>
		<string>dvDdDda</string>
		<string>dvDdDdha</string>
		<string>dvDdVa</string>
		<string>dvDGa</string>
		<string>dvDGha</string>
		<string>dvDDa</string>
		<string>dvDDha</string>
		<string>dvDNa</string>
		<string>dvDBa</string>
		<string>dvDBha</string>
		<string>dvDVa</string>
		<string>dvKSDda</string>
		<string>dvNDRa</string>
		<string>dvLVDda</string>
		<string>dvKDda</string>
		<string>dvCDda</string>
		<string>dvThDda</string>
		<string>dvNDda</string>
		<string>dvPDda</string>
		<string>dvMDda</string>
		<string>dvYDda</string>
		<string>dvDa_dvMatraU</string>
		<string>dvDa_dvMatraUu</string>
		<string>dvDa_dvMatraVocalicR</string>
		<string>dvDa_dvMatraVocalicR.ss06</string>
		<string>dvDBa_dvMatraVocalicR</string>
		<string>dvDVa_dvMatraVocalicR</string>
		<string>dvIi_dvAnusvara</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_Ha</key>
	<array>
		<string>dvHa</string>
		<string>dvHRa</string>
		<string>dvHNna</string>
		<string>dvHNa</string>
		<string>dvHLa</string>
		<string>dvHVa</string>
		<string>dvKHa</string>
		<string>dvVHa</string>
		<string>dvHa_dvMatraVocalicR</string>
		<string>dvHa_dvMatraU</string>
		<string>dvHa_dvMatraUu</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_K.half</key>
	<array>
		<string>dvK</string>
		<string>dvJh.NEP</string>
		<string>dvPh</string>
		<string>dvQ</string>
		<string>dvF</string>
		<string>dvKR</string>
	</array>
	<key>@MMK_L_K.half.alt</key>
	<array>
		<string>dvK.alt</string>
		<string>dvQ.alt</string>
		<string>dvF.alt</string>
	</array>
	<key>@MMK_L_Ka</key>
	<array>
		<string>dvUu</string>
		<string>dvKa</string>
		<string>dvJha.NEP</string>
		<string>dvPha</string>
		<string>dvQa</string>
		<string>dvFa</string>
		<string>dvKRa</string>
		<string>dvKRa.ss03</string>
		<string>dvPhRa</string>
		<string>dvFRa</string>
		<string>dvSsKRa</string>
		<string>dvKKa.ss03</string>
		<string>dvKTa.ss03</string>
		<string>dvKNa</string>
		<string>dvKVa.ss03</string>
		<string>dvPhNa</string>
		<string>dvQPha</string>
		<string>dvQQa</string>
		<string>dvQFa</string>
		<string>dvFFa</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_LaMAR</key>
	<array>
		<string>dvVocalicL</string>
		<string>dvVocalicLl</string>
		<string>dvLa.MAR</string>
		<string>dvLla</string>
		<string>dvLlla</string>
		<string>dvLRa.MAR</string>
		<string>dvKSPLa.MAR</string>
	</array>
	<key>@MMK_L_Nga</key>
	<array>
		<string>dvNga</string>
		<string>dvNgKRa</string>
		<string>dvNgKa</string>
		<string>dvNgGa</string>
		<string>dvNgGRa</string>
		<string>dvNgGha</string>
		<string>dvNgGhRa</string>
		<string>dvNgMa</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>dollar</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_Tta</key>
	<array>
		<string>dvTta</string>
		<string>dvTtha</string>
		<string>dvDdha</string>
		<string>dvRha</string>
		<string>dvPTta</string>
		<string>dvPTtha</string>
		<string>dvTtKa</string>
		<string>dvTtTta</string>
		<string>dvTtTtha</string>
		<string>dvTtDdha</string>
		<string>dvTtVa</string>
		<string>dvTthTtha</string>
		<string>dvTthVa</string>
		<string>dvDdhDdha</string>
		<string>dvDdhVa</string>
		<string>dvSsTta</string>
		<string>dvSsTtha</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_L_V.half</key>
	<array>
		<string>dvB</string>
		<string>dvV</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f.liga</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
		<string>f_i.liga</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>f_j.liga</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>f_k.liga</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>f_l.liga</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>f_h.liga</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>f_b.liga</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_Da</key>
	<array>
		<string>dvTta</string>
		<string>dvTtha</string>
		<string>dvDdha</string>
		<string>dvDa</string>
		<string>dvRha</string>
		<string>dvDRa</string>
		<string>dvTtTtYa</string>
		<string>dvTthTthYa</string>
		<string>dvDBRa</string>
		<string>dvDRYa</string>
		<string>dvDVYa</string>
		<string>dvDVRa</string>
		<string>dvTtKa</string>
		<string>dvTtTta</string>
		<string>dvTtTtha</string>
		<string>dvTtDdha</string>
		<string>dvTtYa</string>
		<string>dvTtVa</string>
		<string>dvTthTtha</string>
		<string>dvTthYa</string>
		<string>dvTthVa</string>
		<string>dvDdhDdha</string>
		<string>dvDdhYa</string>
		<string>dvDdhVa</string>
		<string>dvDGa</string>
		<string>dvDGha</string>
		<string>dvDNa</string>
		<string>dvDBa</string>
		<string>dvDVa</string>
		<string>dvDa_dvMatraU</string>
		<string>dvDa_dvMatraUu</string>
		<string>dvDa_dvMatraVocalicR</string>
		<string>dvDBa_dvMatraVocalicR</string>
		<string>dvDVa_dvMatraVocalicR</string>
	</array>
	<key>@MMK_R_Dda</key>
	<array>
		<string>dvI</string>
		<string>dvIi</string>
		<string>dvNga</string>
		<string>dvJha</string>
		<string>dvDda</string>
		<string>dvHa</string>
		<string>dvDddha</string>
		<string>dvDdda</string>
		<string>dvJhRa</string>
		<string>dvDhRa</string>
		<string>dvHRa</string>
		<string>dvNgKRa</string>
		<string>dvDdDdYa</string>
		<string>dvDDYa</string>
		<string>dvDDRa</string>
		<string>dvDhVa</string>
		<string>dvHMYa</string>
		<string>dvHMYa.ss06</string>
		<string>dvNgKa</string>
		<string>dvNgGa</string>
		<string>dvNgGRa</string>
		<string>dvNgGha</string>
		<string>dvNgGhRa</string>
		<string>dvNgMa</string>
		<string>dvNgYa</string>
		<string>dvDdKa</string>
		<string>dvDdGa</string>
		<string>dvDdTta</string>
		<string>dvDdDda</string>
		<string>dvDdDdha</string>
		<string>dvDdYa</string>
		<string>dvDdVa</string>
		<string>dvDDa</string>
		<string>dvDYa</string>
		<string>dvHNna</string>
		<string>dvHNa</string>
		<string>dvHMa</string>
		<string>dvHYa</string>
		<string>dvHLa</string>
		<string>dvHVa</string>
		<string>dvDhDha</string>
		<string>dvDhNa</string>
		<string>dvDa_dvMatraVocalicR.ss06</string>
		<string>dvHa_dvMatraVocalicR</string>
		<string>dvHa_dvMatraU</string>
		<string>dvHa_dvMatraUu</string>
		<string>dvIi_dvAnusvara</string>
	</array>
	<key>@MMK_R_Gha</key>
	<array>
		<string>dvGha</string>
		<string>dvDha</string>
		<string>dvGhRa</string>
		<string>dvGhhRa</string>
		<string>dvDhNYa</string>
		<string>dvGhNa</string>
		<string>dvGh</string>
		<string>dvDh</string>
		<string>dvGhR</string>
		<string>dvDhR</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>ruble</string>
	</array>
	<key>@MMK_R_Ja</key>
	<array>
		<string>dvJa</string>
		<string>dvZa</string>
		<string>dvZha</string>
		<string>dvJja</string>
		<string>dvJRa</string>
		<string>dvZRa</string>
		<string>dvJJa</string>
		<string>dvJNa</string>
		<string>dvJMa</string>
		<string>dvJYa</string>
		<string>dvZYa</string>
		<string>dvZZa</string>
		<string>dvJ</string>
		<string>dvJ.alt</string>
		<string>dvZ</string>
	</array>
	<key>@MMK_R_Ka</key>
	<array>
		<string>dvKa</string>
		<string>dvQa</string>
		<string>dvKRa</string>
		<string>dvKKa.ss03</string>
		<string>dvKCa</string>
		<string>dvKDda</string>
		<string>dvKTha</string>
		<string>dvKDha</string>
		<string>dvKNa</string>
		<string>dvKYa</string>
		<string>dvKVa.ss03</string>
		<string>dvKSha</string>
		<string>dvKHa</string>
		<string>dvQTa</string>
		<string>dvQPha</string>
		<string>dvQBa</string>
		<string>dvQMa</string>
		<string>dvQQa</string>
		<string>dvQFa</string>
		<string>dvK</string>
		<string>dvK.alt</string>
		<string>dvQ</string>
		<string>dvQ.alt</string>
		<string>dvKR</string>
	</array>
	<key>@MMK_R_La</key>
	<array>
		<string>dvVocalicL</string>
		<string>dvVocalicLl</string>
		<string>dvTa</string>
		<string>dvLa</string>
		<string>dvLa.MAR</string>
		<string>dvLla</string>
		<string>dvLlla</string>
		<string>dvTRa.ss03</string>
		<string>dvLRa</string>
		<string>dvLRa.MAR</string>
		<string>dvTKYa</string>
		<string>dvTKSsa</string>
		<string>dvLKYa</string>
		<string>dvLThYa</string>
		<string>dvLLYa</string>
		<string>dvLVDda</string>
		<string>dvSTYa</string>
		<string>dvSTRa</string>
		<string>dvSThYa</string>
		<string>dvSMYa</string>
		<string>dvTNya</string>
		<string>dvTTha</string>
		<string>dvTNa</string>
		<string>dvTYa</string>
		<string>dvLCa</string>
		<string>dvLNa</string>
		<string>dvLBha</string>
		<string>dvKh</string>
		<string>dvT</string>
		<string>dvT.alt</string>
		<string>dvT.alt1</string>
		<string>dvL</string>
		<string>dvL.alt</string>
		<string>dvL.alt1</string>
		<string>dvLl</string>
		<string>dvLll</string>
		<string>dvTR.ss03</string>
		<string>dvLBh</string>
		<string>dvRa_dvMatraU</string>
		<string>dvRa_dvMatraUu</string>
	</array>
	<key>@MMK_R_Ma</key>
	<array>
		<string>dvGa</string>
		<string>dvJha.NEP</string>
		<string>dvBha</string>
		<string>dvMa</string>
		<string>dvGhha</string>
		<string>dvGga</string>
		<string>dvGRa</string>
		<string>dvBhRa</string>
		<string>dvMRa</string>
		<string>dvGRYa</string>
		<string>dvBhRYa</string>
		<string>dvGDhYa</string>
		<string>dvGDhVa</string>
		<string>dvGNYa</string>
		<string>dvGBhYa</string>
		<string>dvMBYa</string>
		<string>dvMBhYa</string>
		<string>dvMBhRa</string>
		<string>dvMBhVa</string>
		<string>dvGNa</string>
		<string>dvBhNa</string>
		<string>dvBhBha</string>
		<string>dvMDda</string>
		<string>dvMNa</string>
		<string>dvMBha</string>
		<string>dvMSha</string>
		<string>dvG</string>
		<string>dvJh.NEP</string>
		<string>dvBh</string>
		<string>dvM</string>
		<string>dvGhh</string>
		<string>dvMBh</string>
	</array>
	<key>@MMK_R_Na</key>
	<array>
		<string>dvNa</string>
		<string>dvNnna</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_Pa</key>
	<array>
		<string>dvNna</string>
		<string>dvPa</string>
		<string>dvPha</string>
		<string>dvSsa</string>
		<string>dvFa</string>
		<string>dvPRa</string>
		<string>dvPhRa</string>
		<string>dvSsRa</string>
		<string>dvFRa</string>
		<string>dvDdhRYa</string>
		<string>dvDGRa</string>
		<string>dvPTta</string>
		<string>dvPTtha</string>
		<string>dvPTtYa</string>
		<string>dvPTthYa</string>
		<string>dvSsTtYa</string>
		<string>dvSsTthYa</string>
		<string>dvPTYa</string>
		<string>dvPDda</string>
		<string>dvPTha</string>
		<string>dvPNa</string>
		<string>dvPSha</string>
		<string>dvPhGa</string>
		<string>dvPhCa</string>
		<string>dvPhTha</string>
		<string>dvPhNa</string>
		<string>dvPhSha</string>
		<string>dvFTa</string>
		<string>dvFSa</string>
		<string>dvFZa</string>
		<string>dvFFa</string>
		<string>dvNn</string>
		<string>dvP</string>
		<string>dvPh</string>
		<string>dvPh.alt</string>
		<string>dvSs</string>
		<string>dvF</string>
		<string>dvF.alt</string>
		<string>dvPR</string>
		<string>dvSsR</string>
	</array>
	<key>@MMK_R_Ra</key>
	<array>
		<string>dvKha</string>
		<string>dvRa</string>
		<string>dvRra</string>
		<string>dvSa</string>
		<string>dvKhha</string>
		<string>dvKhRa</string>
		<string>dvSRa</string>
		<string>dvKhhRa</string>
		<string>dvKhNa</string>
		<string>dvSNa</string>
		<string>dvSMa</string>
		<string>dvKhhTa</string>
		<string>dvKhhMa</string>
		<string>dvKhhYa</string>
		<string>dvKhhVa</string>
		<string>dvKhhSha</string>
		<string>dvKhhSa</string>
		<string>dvS</string>
		<string>dvKhh</string>
		<string>dvSR</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>dollar</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_R_Va</key>
	<array>
		<string>dvBa</string>
		<string>dvVa</string>
		<string>dvBba</string>
		<string>dvBRa</string>
		<string>dvVRa</string>
		<string>dvQRa</string>
		<string>dvBJYa</string>
		<string>dvBDhVa</string>
		<string>dvBBhRa</string>
		<string>dvBLYa</string>
		<string>dvBNa</string>
		<string>dvVNa</string>
		<string>dvB</string>
		<string>dvV</string>
		<string>dvVR</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Ya</key>
	<array>
		<string>dvTha</string>
		<string>dvYa</string>
		<string>dvYya</string>
		<string>dvYaHeavy</string>
		<string>dvThRa</string>
		<string>dvYRa</string>
		<string>dvYyRa</string>
		<string>dvThDda</string>
		<string>dvThTha</string>
		<string>dvThNa</string>
		<string>dvYDda</string>
		<string>dvYTha</string>
		<string>dvYNa</string>
		<string>dvYSha</string>
		<string>dvTh</string>
		<string>dvYy</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_h.liga</string>
		<string>f_i.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>f_l.liga</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>i</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
