<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_u</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K.half</key>
	<dict>
		<key>uni091B</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_K.half.alt</key>
	<dict>
		<key>@MMK_R_Ma</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>15</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-90</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V.half</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-40</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_Ja</key>
		<integer>-35</integer>
		<key>@MMK_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
		<key>@MMK_R_Va</key>
		<integer>-37</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
		<key>uni0925</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>asterisk</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>40</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>0</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>asterisk</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_I</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>5</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>zero</key>
		<integer>-25</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>five</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_z</key>
		<integer>0</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_b</key>
		<integer>40</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>five</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-45</integer>
		<key>one</key>
		<integer>10</integer>
		<key>seven</key>
		<integer>5</integer>
		<key>six</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>5</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>uni0915094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-40</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
		<key>@MMK_R_Ja</key>
		<integer>-10</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-50</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>uni095C</key>
		<integer>-80</integer>
	</dict>
	<key>uni0917094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
		<key>@MMK_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
		<key>uni0928</key>
		<integer>-20</integer>
	</dict>
	<key>uni0918094D</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_Ka</key>
		<integer>20</integer>
		<key>@MMK_R_La</key>
		<integer>10</integer>
		<key>@MMK_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>10</integer>
		<key>@MMK_R_Ya</key>
		<integer>-10</integer>
		<key>uni091A</key>
		<integer>-70</integer>
		<key>uni091B</key>
		<integer>-20</integer>
	</dict>
	<key>uni091A094D</key>
	<dict>
		<key>@MMK_R_Ka</key>
		<integer>30</integer>
		<key>@MMK_R_La</key>
		<integer>13</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>20</integer>
		<key>uni091A</key>
		<integer>-70</integer>
	</dict>
	<key>uni091C094D</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
	</dict>
	<key>uni091C094D.alt</key>
	<dict>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
	</dict>
	<key>uni091D094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Dda</key>
		<integer>-70</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-70</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
	</dict>
	<key>uni091E094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-60</integer>
		<key>@MMK_R_Dda</key>
		<integer>-90</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_La</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-90</integer>
		<key>@MMK_R_Ra</key>
		<integer>-50</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-40</integer>
		<key>uni091A</key>
		<integer>-110</integer>
		<key>uni091B</key>
		<integer>-60</integer>
	</dict>
	<key>uni0923094D</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-10</integer>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
		<key>uni0936</key>
		<integer>-20</integer>
	</dict>
	<key>uni0924</key>
	<dict>
		<key>@MMK_R_Pa</key>
		<integer>0</integer>
	</dict>
	<key>uni0924094D</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-25</integer>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
	</dict>
	<key>uni0925094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Ja</key>
		<integer>-40</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-40</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
	</dict>
	<key>uni0927094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_La</key>
		<integer>-20</integer>
		<key>@MMK_R_Ma</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-50</integer>
		<key>@MMK_R_Ra</key>
		<integer>-50</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
		<key>uni091A</key>
		<integer>-90</integer>
		<key>uni091B</key>
		<integer>-60</integer>
	</dict>
	<key>uni0928094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
	</dict>
	<key>uni0928094D.alt</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-40</integer>
	</dict>
	<key>uni092A094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_La</key>
		<integer>-17</integer>
		<key>@MMK_R_Ma</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-50</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-15</integer>
		<key>@MMK_R_Ya</key>
		<integer>-40</integer>
		<key>uni091A</key>
		<integer>-80</integer>
		<key>uni091B</key>
		<integer>-60</integer>
	</dict>
	<key>uni092B094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
		<key>@MMK_R_La</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-20</integer>
		<key>uni091B</key>
		<integer>-30</integer>
		<key>uni091D</key>
		<integer>-30</integer>
		<key>uni0921</key>
		<integer>-60</integer>
	</dict>
	<key>uni092B094D.alt</key>
	<dict>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_Ma</key>
		<integer>-10</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
	</dict>
	<key>uni092C094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-40</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-60</integer>
		<key>@MMK_R_Ja</key>
		<integer>-35</integer>
		<key>@MMK_R_Ka</key>
		<integer>-30</integer>
		<key>@MMK_R_La</key>
		<integer>-30</integer>
		<key>@MMK_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
		<key>@MMK_R_Va</key>
		<integer>-37</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
		<key>uni0925</key>
		<integer>-40</integer>
		<key>uni0936</key>
		<integer>-30</integer>
	</dict>
	<key>uni092E094D</key>
	<dict>
		<key>@MMK_R_Dda</key>
		<integer>-70</integer>
		<key>@MMK_R_Gha</key>
		<integer>-70</integer>
		<key>@MMK_R_Ka</key>
		<integer>-15</integer>
		<key>@MMK_R_Ma</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-60</integer>
		<key>@MMK_R_Ya</key>
		<integer>-30</integer>
		<key>uni091A</key>
		<integer>-90</integer>
		<key>uni091B</key>
		<integer>-58</integer>
	</dict>
	<key>uni092F094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_Gha</key>
		<integer>-80</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-15</integer>
		<key>@MMK_R_La</key>
		<integer>-20</integer>
		<key>@MMK_R_Ma</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-60</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-10</integer>
		<key>@MMK_R_Ya</key>
		<integer>-50</integer>
		<key>uni091A</key>
		<integer>-90</integer>
		<key>uni091B</key>
		<integer>-70</integer>
	</dict>
	<key>uni0932094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-60</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Ja</key>
		<integer>20</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_La</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-10</integer>
	</dict>
	<key>uni0932094D.alt</key>
	<dict>
		<key>@MMK_R_Ma</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-20</integer>
		<key>uni092D</key>
		<integer>-50</integer>
	</dict>
	<key>uni0932094D.alt1</key>
	<dict>
		<key>uni0936.MAR</key>
		<integer>40</integer>
	</dict>
	<key>uni0936094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-10</integer>
		<key>@MMK_R_Dda</key>
		<integer>-30</integer>
		<key>@MMK_R_Gha</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-20</integer>
		<key>@MMK_R_La</key>
		<integer>-10</integer>
		<key>@MMK_R_Ma</key>
		<integer>-30</integer>
		<key>@MMK_R_Pa</key>
		<integer>-20</integer>
		<key>@MMK_R_Ra</key>
		<integer>-30</integer>
		<key>@MMK_R_Va</key>
		<integer>-20</integer>
		<key>uni091A</key>
		<integer>-20</integer>
		<key>uni0922</key>
		<integer>-30</integer>
		<key>uni0936</key>
		<integer>-40</integer>
	</dict>
	<key>uni0936094D.MAR</key>
	<dict>
		<key>@MMK_R_Pa</key>
		<integer>-30</integer>
	</dict>
	<key>uni0937094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-40</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
		<key>@MMK_R_Ka</key>
		<integer>-10</integer>
		<key>@MMK_R_La</key>
		<integer>-26</integer>
		<key>@MMK_R_Ma</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-40</integer>
		<key>@MMK_R_Ra</key>
		<integer>-40</integer>
		<key>@MMK_R_Va</key>
		<integer>-20</integer>
		<key>@MMK_R_Ya</key>
		<integer>-58</integer>
	</dict>
	<key>uni0938094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-20</integer>
		<key>@MMK_R_Dda</key>
		<integer>-40</integer>
		<key>@MMK_R_Ka</key>
		<integer>-10</integer>
		<key>@MMK_R_La</key>
		<integer>-20</integer>
		<key>@MMK_R_Ma</key>
		<integer>-40</integer>
		<key>@MMK_R_Pa</key>
		<integer>-30</integer>
		<key>@MMK_R_Ra</key>
		<integer>-50</integer>
		<key>@MMK_R_Va</key>
		<integer>-25</integer>
		<key>@MMK_R_Ya</key>
		<integer>-20</integer>
		<key>uni091A</key>
		<integer>-60</integer>
		<key>uni091B</key>
		<integer>-30</integer>
		<key>uni0921</key>
		<integer>-55</integer>
	</dict>
	<key>uni0939094D</key>
	<dict>
		<key>@MMK_R_Da</key>
		<integer>-30</integer>
		<key>@MMK_R_Dda</key>
		<integer>-60</integer>
		<key>@MMK_R_Gha</key>
		<integer>-50</integer>
		<key>@MMK_R_Ja</key>
		<integer>-30</integer>
		<key>@MMK_R_Ka</key>
		<integer>-10</integer>
		<key>@MMK_R_La</key>
		<integer>-25</integer>
		<key>@MMK_R_Ma</key>
		<integer>-50</integer>
		<key>@MMK_R_Pa</key>
		<integer>-70</integer>
		<key>@MMK_R_Ra</key>
		<integer>-60</integer>
		<key>@MMK_R_Va</key>
		<integer>-30</integer>
		<key>@MMK_R_Ya</key>
		<integer>-50</integer>
		<key>uni0921</key>
		<integer>-90</integer>
		<key>uni0928</key>
		<integer>-50</integer>
		<key>uni0929</key>
		<integer>-50</integer>
	</dict>
	<key>uni0966</key>
	<dict>
		<key>uni0966</key>
		<integer>-20</integer>
		<key>uni0967</key>
		<integer>-20</integer>
		<key>uni0969</key>
		<integer>-20</integer>
		<key>uni096A</key>
		<integer>-40</integer>
		<key>uni096B.ss05</key>
		<integer>-20</integer>
		<key>uni096C</key>
		<integer>-30</integer>
		<key>uni096D</key>
		<integer>-20</integer>
		<key>uni096E</key>
		<integer>10</integer>
		<key>uni096F</key>
		<integer>-10</integer>
		<key>uni096F.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>uni0967</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0967.ss05</key>
		<integer>20</integer>
		<key>uni096A</key>
		<integer>-10</integer>
		<key>uni096B.ss05</key>
		<integer>-10</integer>
		<key>uni096C</key>
		<integer>10</integer>
	</dict>
	<key>uni0967.ss05</key>
	<dict>
		<key>uni0968</key>
		<integer>-10</integer>
		<key>uni0969</key>
		<integer>-10</integer>
		<key>uni096A</key>
		<integer>-20</integer>
		<key>uni096B.ss05</key>
		<integer>-20</integer>
		<key>uni096C</key>
		<integer>0</integer>
		<key>uni096F.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>uni0968</key>
	<dict>
		<key>uni0967</key>
		<integer>0</integer>
		<key>uni0967.ss05</key>
		<integer>20</integer>
		<key>uni0969</key>
		<integer>10</integer>
		<key>uni096A</key>
		<integer>-10</integer>
		<key>uni096B</key>
		<integer>15</integer>
		<key>uni096B.ss05</key>
		<integer>10</integer>
		<key>uni096C</key>
		<integer>20</integer>
		<key>uni096D</key>
		<integer>10</integer>
		<key>uni096E</key>
		<integer>10</integer>
		<key>uni096F</key>
		<integer>20</integer>
	</dict>
	<key>uni0969</key>
	<dict>
		<key>uni0966</key>
		<integer>-30</integer>
		<key>uni0968</key>
		<integer>-10</integer>
		<key>uni096A</key>
		<integer>-20</integer>
		<key>uni096E.ss05</key>
		<integer>-10</integer>
		<key>uni096F</key>
		<integer>-1</integer>
		<key>uni096F.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>uni096A</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0967.ss05</key>
		<integer>10</integer>
		<key>uni0968</key>
		<integer>10</integer>
		<key>uni096B</key>
		<integer>10</integer>
		<key>uni096C</key>
		<integer>10</integer>
		<key>uni096D</key>
		<integer>20</integer>
		<key>uni096F</key>
		<integer>10</integer>
		<key>uni096F.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>uni096B</key>
	<dict>
		<key>uni0966</key>
		<integer>-20</integer>
		<key>uni0967</key>
		<integer>-10</integer>
		<key>uni0967.ss05</key>
		<integer>-10</integer>
		<key>uni0969</key>
		<integer>-10</integer>
		<key>uni096A</key>
		<integer>-30</integer>
		<key>uni096D</key>
		<integer>-10</integer>
		<key>uni096E</key>
		<integer>10</integer>
		<key>uni096F</key>
		<integer>-20</integer>
		<key>uni096F.ss05</key>
		<integer>-10</integer>
	</dict>
	<key>uni096B.ss05</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0967</key>
		<integer>-20</integer>
		<key>uni0967.ss05</key>
		<integer>-10</integer>
		<key>uni0968</key>
		<integer>-10</integer>
		<key>uni0969</key>
		<integer>-10</integer>
		<key>uni096B.ss05</key>
		<integer>-20</integer>
		<key>uni096C</key>
		<integer>-30</integer>
		<key>uni096E</key>
		<integer>-20</integer>
		<key>uni096E.ss05</key>
		<integer>-30</integer>
		<key>uni096F.ss05</key>
		<integer>-30</integer>
	</dict>
	<key>uni096C</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0968</key>
		<integer>10</integer>
		<key>uni0969</key>
		<integer>10</integer>
		<key>uni096E</key>
		<integer>20</integer>
		<key>uni096F.ss05</key>
		<integer>-10</integer>
	</dict>
	<key>uni096D</key>
	<dict>
		<key>uni0966</key>
		<integer>-10</integer>
		<key>uni0967</key>
		<integer>10</integer>
		<key>uni096A</key>
		<integer>-10</integer>
		<key>uni096D</key>
		<integer>-20</integer>
		<key>uni096E</key>
		<integer>10</integer>
		<key>uni096E.ss05</key>
		<integer>-10</integer>
		<key>uni096F.ss05</key>
		<integer>-10</integer>
	</dict>
	<key>uni096E</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0967</key>
		<integer>-20</integer>
		<key>uni0969</key>
		<integer>-10</integer>
		<key>uni096B</key>
		<integer>-10</integer>
		<key>uni096B.ss05</key>
		<integer>-10</integer>
		<key>uni096C</key>
		<integer>-20</integer>
		<key>uni096E.ss05</key>
		<integer>-30</integer>
		<key>uni096F</key>
		<integer>-20</integer>
		<key>uni096F.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>uni096E.ss05</key>
	<dict>
		<key>uni0967</key>
		<integer>20</integer>
		<key>uni0968</key>
		<integer>10</integer>
		<key>uni096C</key>
		<integer>10</integer>
		<key>uni096D</key>
		<integer>5</integer>
		<key>uni096E</key>
		<integer>20</integer>
	</dict>
	<key>uni096F</key>
	<dict>
		<key>uni0966</key>
		<integer>-40</integer>
		<key>uni0967</key>
		<integer>-20</integer>
		<key>uni0967.ss05</key>
		<integer>-20</integer>
		<key>uni0968</key>
		<integer>-10</integer>
		<key>uni096A</key>
		<integer>-30</integer>
		<key>uni096B</key>
		<integer>-20</integer>
		<key>uni096D</key>
		<integer>-30</integer>
		<key>uni096E</key>
		<integer>10</integer>
		<key>uni096E.ss05</key>
		<integer>-20</integer>
		<key>uni096F</key>
		<integer>-30</integer>
		<key>uni096F.ss05</key>
		<integer>-30</integer>
	</dict>
	<key>uni096F.ss05</key>
	<dict>
		<key>uni0966</key>
		<integer>-30</integer>
		<key>uni0968</key>
		<integer>10</integer>
		<key>uni096E</key>
		<integer>20</integer>
		<key>uni096E.ss05</key>
		<integer>-20</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>eight</key>
		<integer>-10</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-30</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
