<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_L_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Delta</string>
		<string>Lamda</string>
		<string>Alphawithtonos</string>
		<string>Alphalenis</string>
		<string>Alphaasper</string>
		<string>Alphalenisgrave</string>
		<string>Alphaaspergrave</string>
		<string>Alphalenisacute</string>
		<string>Alphaasperacute</string>
		<string>Alphalenistilde</string>
		<string>Alphaaspertilde</string>
		<string>Alphagrave</string>
		<string>Alphaacute</string>
		<string>Alphabreve</string>
		<string>Alphawithmacron</string>
		<string>Alphaiotasub</string>
		<string>Alphalenisiotasub</string>
		<string>Alphaasperiotasub</string>
		<string>Alphalenisgraveiotasub</string>
		<string>Alphaaspergraveiotasub</string>
		<string>Alphalenisacuteiotasub</string>
		<string>Alphaasperacuteiotasub</string>
		<string>Alphalenistildeiotasub</string>
		<string>Alphaaspertildeiotasub</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_Cha</key>
	<array>
		<string>dvCha</string>
		<string>dvCChVa</string>
		<string>dvCCha</string>
		<string>dvChVa</string>
	</array>
	<key>@MMK_L_Da</key>
	<array>
		<string>dvI</string>
		<string>dvIi</string>
		<string>dvDda</string>
		<string>dvDa</string>
		<string>dvDddha</string>
		<string>dvDdda</string>
		<string>dvDRa</string>
		<string>dvDGRa</string>
		<string>dvDDRa</string>
		<string>dvDBRa</string>
		<string>dvDBhRa</string>
		<string>dvDVRa</string>
		<string>dvDdKa</string>
		<string>dvDdGa</string>
		<string>dvDdTta</string>
		<string>dvDdDda</string>
		<string>dvDdDdha</string>
		<string>dvDdVa</string>
		<string>dvDGa</string>
		<string>dvDGha</string>
		<string>dvDDa</string>
		<string>dvDDha</string>
		<string>dvDNa</string>
		<string>dvDBa</string>
		<string>dvDBha</string>
		<string>dvDVa</string>
		<string>dvKSDda</string>
		<string>dvNDRa</string>
		<string>dvLVDda</string>
		<string>dvKDda</string>
		<string>dvCDda</string>
		<string>dvThDda</string>
		<string>dvNDda</string>
		<string>dvPDda</string>
		<string>dvMDda</string>
		<string>dvYDda</string>
		<string>dvDa_dvMatraU</string>
		<string>dvDa_dvMatraUu</string>
		<string>dvDa_dvMatraVocalicR</string>
		<string>dvDa_dvMatraVocalicR.ss06</string>
		<string>dvDBa_dvMatraVocalicR</string>
		<string>dvDVa_dvMatraVocalicR</string>
		<string>dvIi_dvAnusvara</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_Epsilon</key>
	<array>
		<string>Epsilon</string>
		<string>Xi</string>
		<string>Epsilonwithtonos</string>
		<string>Epsilonlenis</string>
		<string>Epsilonasper</string>
		<string>Epsilonlenisgrave</string>
		<string>Epsilonaspergrave</string>
		<string>Epsilonlenisacute</string>
		<string>Epsilonasperacute</string>
		<string>Epsilongrave</string>
		<string>Epsilonacute</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_Ha</key>
	<array>
		<string>dvHa</string>
		<string>dvHRa</string>
		<string>dvHNna</string>
		<string>dvHNa</string>
		<string>dvHLa</string>
		<string>dvHVa</string>
		<string>dvKHa</string>
		<string>dvVHa</string>
		<string>dvHa_dvMatraVocalicR</string>
		<string>dvHa_dvMatraU</string>
		<string>dvHa_dvMatraUu</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_L_Iota</key>
	<array>
		<string>Eta</string>
		<string>Iota</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Pi</string>
		<string>Etawithtonos</string>
		<string>Iotawithtonos</string>
		<string>Iotadieresis</string>
		<string>Etalenis</string>
		<string>Etaasper</string>
		<string>Etalenisgrave</string>
		<string>Etaaspergrave</string>
		<string>Etalenisacute</string>
		<string>Etaasperacute</string>
		<string>Etalenistilde</string>
		<string>Etaaspertilde</string>
		<string>Etagrave</string>
		<string>Etaacute</string>
		<string>Etaiotasub</string>
		<string>Etalenisiotasub</string>
		<string>Etaasperiotasub</string>
		<string>Etalenisgraveiotasub</string>
		<string>Etaaspergraveiotasub</string>
		<string>Etalenisacuteiotasub</string>
		<string>Etaasperacuteiotasub</string>
		<string>Etalenistildeiotasub</string>
		<string>Etaaspertildeiotasub</string>
		<string>Iotalenis</string>
		<string>Iotaasper</string>
		<string>Iotalenisgrave</string>
		<string>Iotaaspergrave</string>
		<string>Iotalenisacute</string>
		<string>Iotaasperacute</string>
		<string>Iotalenistilde</string>
		<string>Iotaaspertilde</string>
		<string>Iotagrave</string>
		<string>Iotaacute</string>
		<string>Iotabreve</string>
		<string>Iotawithmacron</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_K.half</key>
	<array>
		<string>dvK</string>
		<string>dvJh.NEP</string>
		<string>dvPh</string>
		<string>dvQ</string>
		<string>dvF</string>
		<string>dvKR</string>
	</array>
	<key>@MMK_L_K.half.alt</key>
	<array>
		<string>dvK.alt</string>
		<string>dvQ.alt</string>
		<string>dvF.alt</string>
	</array>
	<key>@MMK_L_Ka</key>
	<array>
		<string>dvUu</string>
		<string>dvKa</string>
		<string>dvJha.NEP</string>
		<string>dvPha</string>
		<string>dvQa</string>
		<string>dvFa</string>
		<string>dvKRa</string>
		<string>dvKRa.ss03</string>
		<string>dvPhRa</string>
		<string>dvFRa</string>
		<string>dvSsKRa</string>
		<string>dvKKa.ss03</string>
		<string>dvKTa.ss03</string>
		<string>dvKNa</string>
		<string>dvKVa.ss03</string>
		<string>dvPhNa</string>
		<string>dvQPha</string>
		<string>dvQQa</string>
		<string>dvQFa</string>
		<string>dvFFa</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_LaMAR</key>
	<array>
		<string>dvVocalicL</string>
		<string>dvVocalicLl</string>
		<string>dvLa.MAR</string>
		<string>dvLla</string>
		<string>dvLlla</string>
		<string>dvLRa.MAR</string>
		<string>dvKSPLa.MAR</string>
	</array>
	<key>@MMK_L_Nga</key>
	<array>
		<string>dvNga</string>
		<string>dvNgKRa</string>
		<string>dvNgKa</string>
		<string>dvNgGa</string>
		<string>dvNgGRa</string>
		<string>dvNgGha</string>
		<string>dvNgGhRa</string>
		<string>dvNgMa</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
	</array>
	<key>@MMK_L_Omega</key>
	<array>
		<string>Omega</string>
		<string>Omegawithtonos</string>
		<string>Omegalenis</string>
		<string>Omegaasper</string>
		<string>Omegalenisgrave</string>
		<string>Omegaaspergrave</string>
		<string>Omegalenisacute</string>
		<string>Omegaasperacute</string>
		<string>Omegalenistilde</string>
		<string>Omegaaspertilde</string>
		<string>Omegagrave</string>
		<string>Omegaacute</string>
		<string>Omegaiotasub</string>
		<string>Omegalenisiotasub</string>
		<string>Omegaasperiotasub</string>
		<string>Omegalenisgraveiotasub</string>
		<string>Omegaaspergraveiotasub</string>
		<string>Omegalenisacuteiotasub</string>
		<string>Omegaasperacuteiotasub</string>
		<string>Omegalenistildeiotasub</string>
		<string>Omegaaspertildeiotasub</string>
	</array>
	<key>@MMK_L_Omicron</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
		<string>Omicronwithtonos</string>
		<string>Omicronlenis</string>
		<string>Omicronasper</string>
		<string>Omicronlenisgrave</string>
		<string>Omicronaspergrave</string>
		<string>Omicronlenisacute</string>
		<string>Omicronasperacute</string>
		<string>Omicrongrave</string>
		<string>Omicronacute</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_Rho</key>
	<array>
		<string>Rho</string>
		<string>Rhoasper</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>dollar</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_Tta</key>
	<array>
		<string>dvTta</string>
		<string>dvTtha</string>
		<string>dvDdha</string>
		<string>dvRha</string>
		<string>dvPTta</string>
		<string>dvPTtha</string>
		<string>dvTtKa</string>
		<string>dvTtTta</string>
		<string>dvTtTtha</string>
		<string>dvTtDdha</string>
		<string>dvTtVa</string>
		<string>dvTthTtha</string>
		<string>dvTthVa</string>
		<string>dvDdhDdha</string>
		<string>dvDdhVa</string>
		<string>dvSsTta</string>
		<string>dvSsTtha</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_L_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Psi</string>
		<string>Upsilonwithtonos</string>
		<string>Upsilondieresis</string>
		<string>Upsilonasper</string>
		<string>Upsilonaspergrave</string>
		<string>Upsilonasperacute</string>
		<string>Upsilonaspertilde</string>
		<string>Upsilongrave</string>
		<string>Upsilonacute</string>
		<string>Upsilonbreve</string>
		<string>Upsilonwithmacron</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_L_V.half</key>
	<array>
		<string>dvB</string>
		<string>dvV</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_Zeta</key>
	<array>
		<string>Zeta</string>
		<string>Sigma</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilonwithtonos</string>
		<string>epsilonlenis</string>
		<string>epsilonasper</string>
		<string>epsilonlenisgrave</string>
		<string>epsilonaspergrave</string>
		<string>epsilonlenisacute</string>
		<string>epsilonasperacute</string>
		<string>epsilongrave</string>
		<string>epsilonacute</string>
	</array>
	<key>@MMK_L_eta</key>
	<array>
		<string>eta</string>
		<string>etawithtonos</string>
		<string>etalenis</string>
		<string>etaasper</string>
		<string>etalenisgrave</string>
		<string>etaaspergrave</string>
		<string>etalenisacute</string>
		<string>etaasperacute</string>
		<string>etalenistilde</string>
		<string>etaaspertilde</string>
		<string>etagrave</string>
		<string>etaacute</string>
		<string>etatilde</string>
		<string>etaiotasub</string>
		<string>etagraveiotasub</string>
		<string>etaacuteiotasub</string>
		<string>etalenisiotasub</string>
		<string>etaasperiotasub</string>
		<string>etalenisgraveiotasub</string>
		<string>etaaspergraveiotasub</string>
		<string>etalenisacuteiotasub</string>
		<string>etaasperacuteiotasub</string>
		<string>etalenistildeiotasub</string>
		<string>etaaspertildeiotasub</string>
		<string>etatildeiotasub</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f.liga</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
		<string>f_i.liga</string>
	</array>
	<key>@MMK_L_iota</key>
	<array>
		<string>alpha</string>
		<string>iota</string>
		<string>mu</string>
		<string>iotawithtonos</string>
		<string>alphawithtonos</string>
		<string>alphalenis</string>
		<string>alphaasper</string>
		<string>alphalenisgrave</string>
		<string>alphaaspergrave</string>
		<string>alphalenisacute</string>
		<string>alphaasperacute</string>
		<string>alphalenistilde</string>
		<string>alphaaspertilde</string>
		<string>alphagrave</string>
		<string>alphaacute</string>
		<string>alphatilde</string>
		<string>alphabreve</string>
		<string>alphawithmacron</string>
		<string>alphaiotasub</string>
		<string>alphagraveiotasub</string>
		<string>alphaacuteiotasub</string>
		<string>alphalenisiotasub</string>
		<string>alphaasperiotasub</string>
		<string>alphalenisgraveiotasub</string>
		<string>alphaaspergraveiotasub</string>
		<string>alphalenisacuteiotasub</string>
		<string>alphaasperacuteiotasub</string>
		<string>alphalenistildeiotasub</string>
		<string>alphaaspertildeiotasub</string>
		<string>alphatildeiotasub</string>
		<string>iotalenis</string>
		<string>iotaasper</string>
		<string>iotalenisgrave</string>
		<string>iotaaspergrave</string>
		<string>iotalenisacute</string>
		<string>iotaasperacute</string>
		<string>iotalenistilde</string>
		<string>iotaaspertilde</string>
		<string>iotagrave</string>
		<string>iotaacute</string>
	</array>
	<key>@MMK_L_iotadieresis</key>
	<array>
		<string>iotadieresis</string>
		<string>iotatilde</string>
		<string>iotawithmacron</string>
		<string>iotadieresistilde</string>
	</array>
	<key>@MMK_L_iotadieresistonos</key>
	<array>
		<string>iotadieresisandtonos</string>
		<string>iotadieresisgrave</string>
		<string>iotadieresisacute</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>f_j.liga</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>f_k.liga</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>f_l.liga</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>f_h.liga</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>f_b.liga</string>
	</array>
	<key>@MMK_L_omicron</key>
	<array>
		<string>omicron</string>
		<string>rho</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>psi</string>
		<string>omega</string>
		<string>upsilonwithtonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresisandtonos</string>
		<string>omicronwithtonos</string>
		<string>omegawithtonos</string>
		<string>omicronlenis</string>
		<string>omicronasper</string>
		<string>omicronlenisgrave</string>
		<string>omicronaspergrave</string>
		<string>omicronlenisacute</string>
		<string>omicronasperacute</string>
		<string>omicrongrave</string>
		<string>omicronacute</string>
		<string>rholenis</string>
		<string>rhoasper</string>
		<string>upsilonlenis</string>
		<string>upsilonasper</string>
		<string>upsilonlenisgrave</string>
		<string>upsilonaspergrave</string>
		<string>upsilonlenisacute</string>
		<string>upsilonasperacute</string>
		<string>upsilonlenistilde</string>
		<string>upsilonaspertilde</string>
		<string>upsilongrave</string>
		<string>upsilonacute</string>
		<string>upsilontilde</string>
		<string>upsilonbreve</string>
		<string>upsilonwithmacron</string>
		<string>upsilondieresisgrave</string>
		<string>upsilondieresisacute</string>
		<string>upsilondieresistilde</string>
		<string>omegalenis</string>
		<string>omegaasper</string>
		<string>omegalenisgrave</string>
		<string>omegaaspergrave</string>
		<string>omegalenisacute</string>
		<string>omegaasperacute</string>
		<string>omegalenistilde</string>
		<string>omegaaspertilde</string>
		<string>omegagrave</string>
		<string>omegaacute</string>
		<string>omegatilde</string>
		<string>omegaiotasub</string>
		<string>omegagraveiotasub</string>
		<string>omegaacuteiotasub</string>
		<string>omegalenisiotasub</string>
		<string>omegaasperiotasub</string>
		<string>omegalenisgraveiotasub</string>
		<string>omegaaspergraveiotasub</string>
		<string>omegalenisacuteiotasub</string>
		<string>omegaasperacuteiotasub</string>
		<string>omegalenistildeiotasub</string>
		<string>omegaaspertildeiotasub</string>
		<string>omegatildeiotasub</string>
	</array>
	<key>@MMK_L_parenthesis</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
		<string>nbspace</string>
		<string>enspace</string>
		<string>emspace</string>
		<string>thinspace</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>exclamdown</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>guillemetleft</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>onesuperior</string>
		<string>guillemetright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>anoteleia</string>
		<string>lownumeralsign</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Delta</string>
		<string>Lamda</string>
	</array>
	<key>@MMK_R_Da</key>
	<array>
		<string>dvTta</string>
		<string>dvTtha</string>
		<string>dvDdha</string>
		<string>dvDa</string>
		<string>dvRha</string>
		<string>dvDRa</string>
		<string>dvTtTtYa</string>
		<string>dvTthTthYa</string>
		<string>dvDBRa</string>
		<string>dvDRYa</string>
		<string>dvDVYa</string>
		<string>dvDVRa</string>
		<string>dvTtKa</string>
		<string>dvTtTta</string>
		<string>dvTtTtha</string>
		<string>dvTtDdha</string>
		<string>dvTtYa</string>
		<string>dvTtVa</string>
		<string>dvTthTtha</string>
		<string>dvTthYa</string>
		<string>dvTthVa</string>
		<string>dvDdhDdha</string>
		<string>dvDdhYa</string>
		<string>dvDdhVa</string>
		<string>dvDGa</string>
		<string>dvDGha</string>
		<string>dvDNa</string>
		<string>dvDBa</string>
		<string>dvDVa</string>
		<string>dvDa_dvMatraU</string>
		<string>dvDa_dvMatraUu</string>
		<string>dvDa_dvMatraVocalicR</string>
		<string>dvDBa_dvMatraVocalicR</string>
		<string>dvDVa_dvMatraVocalicR</string>
	</array>
	<key>@MMK_R_Dda</key>
	<array>
		<string>dvI</string>
		<string>dvIi</string>
		<string>dvNga</string>
		<string>dvJha</string>
		<string>dvDda</string>
		<string>dvHa</string>
		<string>dvDddha</string>
		<string>dvDdda</string>
		<string>dvJhRa</string>
		<string>dvDhRa</string>
		<string>dvHRa</string>
		<string>dvNgKRa</string>
		<string>dvDdDdYa</string>
		<string>dvDDYa</string>
		<string>dvDDRa</string>
		<string>dvDhVa</string>
		<string>dvHMYa</string>
		<string>dvHMYa.ss06</string>
		<string>dvNgKa</string>
		<string>dvNgGa</string>
		<string>dvNgGRa</string>
		<string>dvNgGha</string>
		<string>dvNgGhRa</string>
		<string>dvNgMa</string>
		<string>dvNgYa</string>
		<string>dvDdKa</string>
		<string>dvDdGa</string>
		<string>dvDdTta</string>
		<string>dvDdDda</string>
		<string>dvDdDdha</string>
		<string>dvDdYa</string>
		<string>dvDdVa</string>
		<string>dvDDa</string>
		<string>dvDYa</string>
		<string>dvHNna</string>
		<string>dvHNa</string>
		<string>dvHMa</string>
		<string>dvHYa</string>
		<string>dvHLa</string>
		<string>dvHVa</string>
		<string>dvDhDha</string>
		<string>dvDhNa</string>
		<string>dvDa_dvMatraVocalicR.ss06</string>
		<string>dvHa_dvMatraVocalicR</string>
		<string>dvHa_dvMatraU</string>
		<string>dvHa_dvMatraUu</string>
		<string>dvIi_dvAnusvara</string>
	</array>
	<key>@MMK_R_Gha</key>
	<array>
		<string>dvGha</string>
		<string>dvDha</string>
		<string>dvGhRa</string>
		<string>dvGhhRa</string>
		<string>dvDhNYa</string>
		<string>dvGhNa</string>
		<string>dvGh</string>
		<string>dvDh</string>
		<string>dvGhR</string>
		<string>dvDhR</string>
	</array>
	<key>@MMK_R_HangOneAlpha</key>
	<array>
		<string>Alphawithtonos</string>
		<string>Alphalenis</string>
		<string>Alphaasper</string>
		<string>Alphagrave</string>
		<string>Alphaacute</string>
		<string>Alphalenisiotasub</string>
		<string>Alphaasperiotasub</string>
	</array>
	<key>@MMK_R_HangOneIota</key>
	<array>
		<string>Epsilonwithtonos</string>
		<string>Etawithtonos</string>
		<string>Iotawithtonos</string>
		<string>Upsilonwithtonos</string>
		<string>Epsilonlenis</string>
		<string>Epsilonasper</string>
		<string>Epsilongrave</string>
		<string>Epsilonacute</string>
		<string>Etalenis</string>
		<string>Etaasper</string>
		<string>Etagrave</string>
		<string>Etaacute</string>
		<string>Etalenisiotasub</string>
		<string>Etaasperiotasub</string>
		<string>Iotalenis</string>
		<string>Iotaasper</string>
		<string>Iotagrave</string>
		<string>Iotaacute</string>
		<string>Rhoasper</string>
		<string>Upsilonasper</string>
		<string>Upsilongrave</string>
		<string>Upsilonacute</string>
	</array>
	<key>@MMK_R_HangOneOmega</key>
	<array>
		<string>Omegawithtonos</string>
		<string>Omegalenis</string>
		<string>Omegaasper</string>
		<string>Omegagrave</string>
		<string>Omegaacute</string>
		<string>Omegalenisiotasub</string>
		<string>Omegaasperiotasub</string>
	</array>
	<key>@MMK_R_HangOneOmicron</key>
	<array>
		<string>Omicronwithtonos</string>
		<string>Omicronlenis</string>
		<string>Omicronasper</string>
		<string>Omicrongrave</string>
		<string>Omicronacute</string>
	</array>
	<key>@MMK_R_HangTwoAlpha</key>
	<array>
		<string>Alphalenisgrave</string>
		<string>Alphaaspergrave</string>
		<string>Alphalenisacute</string>
		<string>Alphaasperacute</string>
		<string>Alphalenistilde</string>
		<string>Alphaaspertilde</string>
		<string>Alphalenisgraveiotasub</string>
		<string>Alphaaspergraveiotasub</string>
		<string>Alphalenisacuteiotasub</string>
		<string>Alphaasperacuteiotasub</string>
		<string>Alphalenistildeiotasub</string>
		<string>Alphaaspertildeiotasub</string>
	</array>
	<key>@MMK_R_HangTwoIota</key>
	<array>
		<string>Epsilonlenisgrave</string>
		<string>Epsilonaspergrave</string>
		<string>Epsilonlenisacute</string>
		<string>Epsilonasperacute</string>
		<string>Etalenisgrave</string>
		<string>Etaaspergrave</string>
		<string>Etalenisacute</string>
		<string>Etaasperacute</string>
		<string>Etalenistilde</string>
		<string>Etaaspertilde</string>
		<string>Etalenisgraveiotasub</string>
		<string>Etaaspergraveiotasub</string>
		<string>Etalenisacuteiotasub</string>
		<string>Etaasperacuteiotasub</string>
		<string>Etalenistildeiotasub</string>
		<string>Etaaspertildeiotasub</string>
		<string>Iotalenisgrave</string>
		<string>Iotaaspergrave</string>
		<string>Iotalenisacute</string>
		<string>Iotaasperacute</string>
		<string>Iotalenistilde</string>
		<string>Iotaaspertilde</string>
		<string>Upsilonaspergrave</string>
		<string>Upsilonasperacute</string>
		<string>Upsilonaspertilde</string>
	</array>
	<key>@MMK_R_HangTwoOmega</key>
	<array>
		<string>Omegalenisgrave</string>
		<string>Omegaaspergrave</string>
		<string>Omegalenisacute</string>
		<string>Omegaasperacute</string>
		<string>Omegalenistilde</string>
		<string>Omegaaspertilde</string>
		<string>Omegalenisgraveiotasub</string>
		<string>Omegaaspergraveiotasub</string>
		<string>Omegalenisacuteiotasub</string>
		<string>Omegaasperacuteiotasub</string>
		<string>Omegalenistildeiotasub</string>
		<string>Omegaaspertildeiotasub</string>
	</array>
	<key>@MMK_R_HangTwoOmicron</key>
	<array>
		<string>Omicronlenisgrave</string>
		<string>Omicronaspergrave</string>
		<string>Omicronlenisacute</string>
		<string>Omicronasperacute</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>ruble</string>
	</array>
	<key>@MMK_R_Iota</key>
	<array>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Epsilon</string>
		<string>Eta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Iotadieresis</string>
	</array>
	<key>@MMK_R_Ja</key>
	<array>
		<string>dvJa</string>
		<string>dvZa</string>
		<string>dvZha</string>
		<string>dvJja</string>
		<string>dvJRa</string>
		<string>dvZRa</string>
		<string>dvJJa</string>
		<string>dvJNa</string>
		<string>dvJMa</string>
		<string>dvJYa</string>
		<string>dvZYa</string>
		<string>dvZZa</string>
		<string>dvJ</string>
		<string>dvJ.alt</string>
		<string>dvZ</string>
	</array>
	<key>@MMK_R_Ka</key>
	<array>
		<string>dvKa</string>
		<string>dvQa</string>
		<string>dvKRa</string>
		<string>dvKKa.ss03</string>
		<string>dvKCa</string>
		<string>dvKDda</string>
		<string>dvKTha</string>
		<string>dvKDha</string>
		<string>dvKNa</string>
		<string>dvKYa</string>
		<string>dvKVa.ss03</string>
		<string>dvKSha</string>
		<string>dvKHa</string>
		<string>dvQTa</string>
		<string>dvQPha</string>
		<string>dvQBa</string>
		<string>dvQMa</string>
		<string>dvQQa</string>
		<string>dvQFa</string>
		<string>dvK</string>
		<string>dvK.alt</string>
		<string>dvQ</string>
		<string>dvQ.alt</string>
		<string>dvKR</string>
	</array>
	<key>@MMK_R_La</key>
	<array>
		<string>dvVocalicL</string>
		<string>dvVocalicLl</string>
		<string>dvTa</string>
		<string>dvLa</string>
		<string>dvLa.MAR</string>
		<string>dvLla</string>
		<string>dvLlla</string>
		<string>dvTRa.ss03</string>
		<string>dvLRa</string>
		<string>dvLRa.MAR</string>
		<string>dvTKYa</string>
		<string>dvTKSsa</string>
		<string>dvLKYa</string>
		<string>dvLThYa</string>
		<string>dvLLYa</string>
		<string>dvLVDda</string>
		<string>dvSTYa</string>
		<string>dvSTRa</string>
		<string>dvSThYa</string>
		<string>dvSMYa</string>
		<string>dvTNya</string>
		<string>dvTTha</string>
		<string>dvTNa</string>
		<string>dvTYa</string>
		<string>dvLCa</string>
		<string>dvLNa</string>
		<string>dvLBha</string>
		<string>dvKh</string>
		<string>dvT</string>
		<string>dvT.alt</string>
		<string>dvT.alt1</string>
		<string>dvL</string>
		<string>dvL.alt</string>
		<string>dvL.alt1</string>
		<string>dvLl</string>
		<string>dvLll</string>
		<string>dvTR.ss03</string>
		<string>dvLBh</string>
		<string>dvRa_dvMatraU</string>
		<string>dvRa_dvMatraUu</string>
	</array>
	<key>@MMK_R_Ma</key>
	<array>
		<string>dvGa</string>
		<string>dvJha.NEP</string>
		<string>dvBha</string>
		<string>dvMa</string>
		<string>dvGhha</string>
		<string>dvGga</string>
		<string>dvGRa</string>
		<string>dvBhRa</string>
		<string>dvMRa</string>
		<string>dvGRYa</string>
		<string>dvBhRYa</string>
		<string>dvGDhYa</string>
		<string>dvGDhVa</string>
		<string>dvGNYa</string>
		<string>dvGBhYa</string>
		<string>dvMBYa</string>
		<string>dvMBhYa</string>
		<string>dvMBhRa</string>
		<string>dvMBhVa</string>
		<string>dvGNa</string>
		<string>dvBhNa</string>
		<string>dvBhBha</string>
		<string>dvMDda</string>
		<string>dvMNa</string>
		<string>dvMBha</string>
		<string>dvMSha</string>
		<string>dvG</string>
		<string>dvJh.NEP</string>
		<string>dvBh</string>
		<string>dvM</string>
		<string>dvGhh</string>
		<string>dvMBh</string>
	</array>
	<key>@MMK_R_Na</key>
	<array>
		<string>dvNa</string>
		<string>dvNnna</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_Omicron</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Phi</string>
	</array>
	<key>@MMK_R_Pa</key>
	<array>
		<string>dvNna</string>
		<string>dvPa</string>
		<string>dvPha</string>
		<string>dvSsa</string>
		<string>dvFa</string>
		<string>dvPRa</string>
		<string>dvPhRa</string>
		<string>dvSsRa</string>
		<string>dvFRa</string>
		<string>dvDdhRYa</string>
		<string>dvDGRa</string>
		<string>dvPTta</string>
		<string>dvPTtha</string>
		<string>dvPTtYa</string>
		<string>dvPTthYa</string>
		<string>dvSsTtYa</string>
		<string>dvSsTthYa</string>
		<string>dvPTYa</string>
		<string>dvPDda</string>
		<string>dvPTha</string>
		<string>dvPNa</string>
		<string>dvPSha</string>
		<string>dvPhGa</string>
		<string>dvPhCa</string>
		<string>dvPhTha</string>
		<string>dvPhNa</string>
		<string>dvPhSha</string>
		<string>dvFTa</string>
		<string>dvFSa</string>
		<string>dvFZa</string>
		<string>dvFFa</string>
		<string>dvNn</string>
		<string>dvP</string>
		<string>dvPh</string>
		<string>dvPh.alt</string>
		<string>dvSs</string>
		<string>dvF</string>
		<string>dvF.alt</string>
		<string>dvPR</string>
		<string>dvSsR</string>
	</array>
	<key>@MMK_R_Ra</key>
	<array>
		<string>dvKha</string>
		<string>dvRa</string>
		<string>dvRra</string>
		<string>dvSa</string>
		<string>dvKhha</string>
		<string>dvKhRa</string>
		<string>dvSRa</string>
		<string>dvKhhRa</string>
		<string>dvKhNa</string>
		<string>dvSNa</string>
		<string>dvSMa</string>
		<string>dvKhhTa</string>
		<string>dvKhhMa</string>
		<string>dvKhhYa</string>
		<string>dvKhhVa</string>
		<string>dvKhhSha</string>
		<string>dvKhhSa</string>
		<string>dvS</string>
		<string>dvKhh</string>
		<string>dvSR</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>dollar</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_R_Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Psi</string>
		<string>Upsilondieresis</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_R_Va</key>
	<array>
		<string>dvBa</string>
		<string>dvVa</string>
		<string>dvBba</string>
		<string>dvBRa</string>
		<string>dvVRa</string>
		<string>dvQRa</string>
		<string>dvBJYa</string>
		<string>dvBDhVa</string>
		<string>dvBBhRa</string>
		<string>dvBLYa</string>
		<string>dvBNa</string>
		<string>dvVNa</string>
		<string>dvB</string>
		<string>dvV</string>
		<string>dvVR</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Ya</key>
	<array>
		<string>dvTha</string>
		<string>dvYa</string>
		<string>dvYya</string>
		<string>dvYaHeavy</string>
		<string>dvThRa</string>
		<string>dvYRa</string>
		<string>dvYyRa</string>
		<string>dvThDda</string>
		<string>dvThTha</string>
		<string>dvThNa</string>
		<string>dvYDda</string>
		<string>dvYTha</string>
		<string>dvYNa</string>
		<string>dvYSha</string>
		<string>dvTh</string>
		<string>dvYy</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_Zeta</key>
	<array>
		<string>Zeta</string>
		<string>Sigma</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilonwithtonos</string>
		<string>epsilonlenis</string>
		<string>epsilonasper</string>
		<string>epsilonlenisgrave</string>
		<string>epsilonaspergrave</string>
		<string>epsilonlenisacute</string>
		<string>epsilonasperacute</string>
		<string>epsilongrave</string>
		<string>epsilonacute</string>
	</array>
	<key>@MMK_R_eta</key>
	<array>
		<string>eta</string>
		<string>etawithtonos</string>
		<string>etalenis</string>
		<string>etaasper</string>
		<string>etalenisgrave</string>
		<string>etaaspergrave</string>
		<string>etalenisacute</string>
		<string>etaasperacute</string>
		<string>etalenistilde</string>
		<string>etaaspertilde</string>
		<string>etagrave</string>
		<string>etaacute</string>
		<string>etatilde</string>
		<string>etaiotasub</string>
		<string>etagraveiotasub</string>
		<string>etaacuteiotasub</string>
		<string>etalenisiotasub</string>
		<string>etaasperiotasub</string>
		<string>etalenisgraveiotasub</string>
		<string>etaaspergraveiotasub</string>
		<string>etalenisacuteiotasub</string>
		<string>etaasperacuteiotasub</string>
		<string>etalenistildeiotasub</string>
		<string>etaaspertildeiotasub</string>
		<string>etatildeiotasub</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_h.liga</string>
		<string>f_i.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>f_l.liga</string>
		<string>f_t.liga</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
		<string>chi</string>
	</array>
	<key>@MMK_R_iota</key>
	<array>
		<string>iota</string>
		<string>kappa</string>
		<string>mu</string>
		<string>iotawithtonos</string>
		<string>iotalenis</string>
		<string>iotaasper</string>
		<string>iotalenisgrave</string>
		<string>iotaaspergrave</string>
		<string>iotalenisacute</string>
		<string>iotaasperacute</string>
		<string>iotalenistilde</string>
		<string>iotaaspertilde</string>
		<string>iotagrave</string>
		<string>iotaacute</string>
	</array>
	<key>@MMK_R_iotadieresis</key>
	<array>
		<string>iotadieresis</string>
		<string>iotatilde</string>
		<string>iotawithmacron</string>
		<string>iotadieresistilde</string>
	</array>
	<key>@MMK_R_iotadieresistonos</key>
	<array>
		<string>iotadieresisandtonos</string>
		<string>iotadieresisgrave</string>
		<string>iotadieresisacute</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>i</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_omicron</key>
	<array>
		<string>alpha</string>
		<string>delta</string>
		<string>omicron</string>
		<string>finalsigma</string>
		<string>sigma</string>
		<string>phi</string>
		<string>omega</string>
		<string>omicronwithtonos</string>
		<string>omegawithtonos</string>
		<string>alphawithtonos</string>
		<string>alphalenis</string>
		<string>alphaasper</string>
		<string>alphalenisgrave</string>
		<string>alphaaspergrave</string>
		<string>alphalenisacute</string>
		<string>alphaasperacute</string>
		<string>alphalenistilde</string>
		<string>alphaaspertilde</string>
		<string>alphagrave</string>
		<string>alphaacute</string>
		<string>alphatilde</string>
		<string>alphabreve</string>
		<string>alphawithmacron</string>
		<string>alphaiotasub</string>
		<string>alphagraveiotasub</string>
		<string>alphaacuteiotasub</string>
		<string>alphalenisiotasub</string>
		<string>alphaasperiotasub</string>
		<string>alphalenisgraveiotasub</string>
		<string>alphaaspergraveiotasub</string>
		<string>alphalenisacuteiotasub</string>
		<string>alphaasperacuteiotasub</string>
		<string>alphalenistildeiotasub</string>
		<string>alphaaspertildeiotasub</string>
		<string>alphatildeiotasub</string>
		<string>omicronlenis</string>
		<string>omicronasper</string>
		<string>omicronlenisgrave</string>
		<string>omicronaspergrave</string>
		<string>omicronlenisacute</string>
		<string>omicronasperacute</string>
		<string>omicrongrave</string>
		<string>omicronacute</string>
		<string>omegalenis</string>
		<string>omegaasper</string>
		<string>omegalenisgrave</string>
		<string>omegaaspergrave</string>
		<string>omegalenisacute</string>
		<string>omegaasperacute</string>
		<string>omegalenistilde</string>
		<string>omegaaspertilde</string>
		<string>omegagrave</string>
		<string>omegaacute</string>
		<string>omegatilde</string>
		<string>omegaiotasub</string>
		<string>omegagraveiotasub</string>
		<string>omegaacuteiotasub</string>
		<string>omegalenisiotasub</string>
		<string>omegaasperiotasub</string>
		<string>omegalenisgraveiotasub</string>
		<string>omegaaspergraveiotasub</string>
		<string>omegalenisacuteiotasub</string>
		<string>omegaasperacuteiotasub</string>
		<string>omegalenistildeiotasub</string>
		<string>omegaaspertildeiotasub</string>
		<string>omegatildeiotasub</string>
	</array>
	<key>@MMK_R_parenthesis</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_quotesright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>numeralsign</string>
	</array>
	<key>@MMK_R_rho</key>
	<array>
		<string>rho</string>
		<string>rholenis</string>
		<string>rhoasper</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_R_upsilon</key>
	<array>
		<string>upsilon</string>
		<string>psi</string>
		<string>upsilonwithtonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresisandtonos</string>
		<string>upsilonlenis</string>
		<string>upsilonasper</string>
		<string>upsilonlenisgrave</string>
		<string>upsilonaspergrave</string>
		<string>upsilonlenisacute</string>
		<string>upsilonasperacute</string>
		<string>upsilonlenistilde</string>
		<string>upsilonaspertilde</string>
		<string>upsilongrave</string>
		<string>upsilonacute</string>
		<string>upsilontilde</string>
		<string>upsilonbreve</string>
		<string>upsilonwithmacron</string>
		<string>upsilondieresisgrave</string>
		<string>upsilondieresisacute</string>
		<string>upsilondieresistilde</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_zeta</key>
	<array>
		<string>zeta</string>
		<string>xi</string>
	</array>
</dict>
</plist>
