<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAa</key>
	<string>dvA_a.glif</string>
	<key>dvAi</key>
	<string>dvA_i.glif</string>
	<key>dvAnusvara</key>
	<string>dvA_nusvara.glif</string>
	<key>dvAu</key>
	<string>dvA_u.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBRa</key>
	<string>dvB_R_a.glif</string>
	<key>dvBa</key>
	<string>dvB_a.glif</string>
	<key>dvBh</key>
	<string>dvB_h.glif</string>
	<key>dvBhRa</key>
	<string>dvB_hR_a.glif</string>
	<key>dvBha</key>
	<string>dvB_ha.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvCCha</key>
	<string>dvC_C_ha.glif</string>
	<key>dvCRa</key>
	<string>dvC_R_a.glif</string>
	<key>dvCa</key>
	<string>dvC_a.glif</string>
	<key>dvCandraE</key>
	<string>dvC_andraE_.glif</string>
	<key>dvCandraO</key>
	<string>dvC_andraO_.glif</string>
	<key>dvCandrabindu</key>
	<string>dvC_andrabindu.glif</string>
	<key>dvCha</key>
	<string>dvC_ha.glif</string>
	<key>dvDBa</key>
	<string>dvD_B_a.glif</string>
	<key>dvDBhYa</key>
	<string>dvD_B_hY_a.glif</string>
	<key>dvDBha</key>
	<string>dvD_B_ha.glif</string>
	<key>dvDDYa</key>
	<string>dvD_D_Y_a.glif</string>
	<key>dvDDa</key>
	<string>dvD_D_a.glif</string>
	<key>dvDDhYa</key>
	<string>dvD_D_hY_a.glif</string>
	<key>dvDDha</key>
	<string>dvD_D_ha.glif</string>
	<key>dvDGa</key>
	<string>dvD_G_a.glif</string>
	<key>dvDMa</key>
	<string>dvD_M_a.glif</string>
	<key>dvDNa</key>
	<string>dvD_N_a.glif</string>
	<key>dvDRYa</key>
	<string>dvD_R_Y_a.glif</string>
	<key>dvDRa</key>
	<string>dvD_R_a.glif</string>
	<key>dvDVYa</key>
	<string>dvD_V_Y_a.glif</string>
	<key>dvDVa</key>
	<string>dvD_V_a.glif</string>
	<key>dvDYa</key>
	<string>dvD_Y_a.glif</string>
	<key>dvDa</key>
	<string>dvD_a.glif</string>
	<key>dvDa_dvMatraU</key>
	<string>dvD_a_dvM_atraU_.glif</string>
	<key>dvDa_dvMatraUu</key>
	<string>dvD_a_dvM_atraU_u.glif</string>
	<key>dvDa_dvMatraVocalicR</key>
	<string>dvD_a_dvM_atraV_ocalicR_.glif</string>
	<key>dvDanda</key>
	<string>dvD_anda.glif</string>
	<key>dvDdDdYa</key>
	<string>dvD_dD_dY_a.glif</string>
	<key>dvDdDda</key>
	<string>dvD_dD_da.glif</string>
	<key>dvDdDdha</key>
	<string>dvD_dD_dha.glif</string>
	<key>dvDdYa</key>
	<string>dvD_dY_a.glif</string>
	<key>dvDda</key>
	<string>dvD_da.glif</string>
	<key>dvDddha</key>
	<string>dvD_ddha.glif</string>
	<key>dvDdhDdha</key>
	<string>dvD_dhD_dha.glif</string>
	<key>dvDdhYa</key>
	<string>dvD_dhY_a.glif</string>
	<key>dvDdha</key>
	<string>dvD_dha.glif</string>
	<key>dvDh</key>
	<string>dvD_h.glif</string>
	<key>dvDhRa</key>
	<string>dvD_hR_a.glif</string>
	<key>dvDhVa</key>
	<string>dvD_hV_a.glif</string>
	<key>dvDha</key>
	<string>dvD_ha.glif</string>
	<key>dvDoubleDanda</key>
	<string>dvD_oubleD_anda.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEight</key>
	<string>dvE_ight.glif</string>
	<key>dvFa</key>
	<string>dvF_a.glif</string>
	<key>dvFive</key>
	<string>dvF_ive.glif</string>
	<key>dvFour</key>
	<string>dvF_our.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGRa</key>
	<string>dvG_R_a.glif</string>
	<key>dvGa</key>
	<string>dvG_a.glif</string>
	<key>dvGh</key>
	<string>dvG_h.glif</string>
	<key>dvGhRa</key>
	<string>dvG_hR_a.glif</string>
	<key>dvGha</key>
	<string>dvG_ha.glif</string>
	<key>dvGhha</key>
	<string>dvG_hha.glif</string>
	<key>dvH</key>
	<string>dvH_.glif</string>
	<key>dvHRa</key>
	<string>dvH_R_a.glif</string>
	<key>dvHa</key>
	<string>dvH_a.glif</string>
	<key>dvHa_dvMatraU</key>
	<string>dvH_a_dvM_atraU_.glif</string>
	<key>dvHa_dvMatraUu</key>
	<string>dvH_a_dvM_atraU_u.glif</string>
	<key>dvHa_dvMatraVocalicR</key>
	<string>dvH_a_dvM_atraV_ocalicR_.glif</string>
	<key>dvHalant</key>
	<string>dvH_alant.glif</string>
	<key>dvHalant.small</key>
	<string>dvH_alant.small.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvIi</key>
	<string>dvI_i.glif</string>
	<key>dvIi_dvAnusvara</key>
	<string>dvI_i_dvA_nusvara.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJNya</key>
	<string>dvJ_N_ya.glif</string>
	<key>dvJRa</key>
	<string>dvJ_R_a.glif</string>
	<key>dvJa</key>
	<string>dvJ_a.glif</string>
	<key>dvJh</key>
	<string>dvJ_h.glif</string>
	<key>dvJhRa</key>
	<string>dvJ_hR_a.glif</string>
	<key>dvJha</key>
	<string>dvJ_ha.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKCa</key>
	<string>dvK_C_a.glif</string>
	<key>dvKRa</key>
	<string>dvK_R_a.glif</string>
	<key>dvKSs</key>
	<string>dvK_S_s.glif</string>
	<key>dvKSsMa</key>
	<string>dvK_S_sM_a.glif</string>
	<key>dvKSsVa</key>
	<string>dvK_S_sV_a.glif</string>
	<key>dvKSsYa</key>
	<string>dvK_S_sY_a.glif</string>
	<key>dvKSsa</key>
	<string>dvK_S_sa.glif</string>
	<key>dvKa</key>
	<string>dvK_a.glif</string>
	<key>dvKh</key>
	<string>dvK_h.glif</string>
	<key>dvKhRa</key>
	<string>dvK_hR_a.glif</string>
	<key>dvKha</key>
	<string>dvK_ha.glif</string>
	<key>dvKhhRa</key>
	<string>dvK_hhR_a.glif</string>
	<key>dvKhha</key>
	<string>dvK_hha.glif</string>
	<key>dvL</key>
	<string>dvL_.glif</string>
	<key>dvLRa</key>
	<string>dvL_R_a.glif</string>
	<key>dvLa</key>
	<string>dvL_a.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMRa</key>
	<string>dvM_R_a.glif</string>
	<key>dvMa</key>
	<string>dvM_a.glif</string>
	<key>dvMatraAa</key>
	<string>dvM_atraA_a.glif</string>
	<key>dvMatraAi</key>
	<string>dvM_atraA_i.glif</string>
	<key>dvMatraAi_dvAnusvara</key>
	<string>dvM_atraA_i_dvA_nusvara.glif</string>
	<key>dvMatraAi_dvReph</key>
	<string>dvM_atraA_i_dvR_eph.glif</string>
	<key>dvMatraAi_dvReph_dvAnusvara</key>
	<string>dvM_atraA_i_dvR_eph_dvA_nusvara.glif</string>
	<key>dvMatraAu</key>
	<string>dvM_atraA_u.glif</string>
	<key>dvMatraAu_dvReph</key>
	<string>dvM_atraA_u_dvR_eph.glif</string>
	<key>dvMatraAu_dvReph_dvAnusvara</key>
	<string>dvM_atraA_u_dvR_eph_dvA_nusvara.glif</string>
	<key>dvMatraCandraE</key>
	<string>dvM_atraC_andraE_.glif</string>
	<key>dvMatraCandraO</key>
	<string>dvM_atraC_andraO_.glif</string>
	<key>dvMatraE</key>
	<string>dvM_atraE_.glif</string>
	<key>dvMatraE_dvAnusvara</key>
	<string>dvM_atraE__dvA_nusvara.glif</string>
	<key>dvMatraE_dvReph</key>
	<string>dvM_atraE__dvR_eph.glif</string>
	<key>dvMatraE_dvReph_dvAnusvara</key>
	<string>dvM_atraE__dvR_eph_dvA_nusvara.glif</string>
	<key>dvMatraI</key>
	<string>dvM_atraI_.glif</string>
	<key>dvMatraIi</key>
	<string>dvM_atraI_i.glif</string>
	<key>dvMatraIi_dvReph</key>
	<string>dvM_atraI_i_dvR_eph.glif</string>
	<key>dvMatraIi_dvReph_dvAnusvara</key>
	<string>dvM_atraI_i_dvR_eph_dvA_nusvara.glif</string>
	<key>dvMatraO</key>
	<string>dvM_atraO_.glif</string>
	<key>dvMatraO_dvReph</key>
	<string>dvM_atraO__dvR_eph.glif</string>
	<key>dvMatraO_dvReph_dvAnusvara</key>
	<string>dvM_atraO__dvR_eph_dvA_nusvara.glif</string>
	<key>dvMatraShortE</key>
	<string>dvM_atraS_hortE_.glif</string>
	<key>dvMatraShortO</key>
	<string>dvM_atraS_hortO_.glif</string>
	<key>dvMatraU</key>
	<string>dvM_atraU_.glif</string>
	<key>dvMatraU.small</key>
	<string>dvM_atraU_.small.glif</string>
	<key>dvMatraUu</key>
	<string>dvM_atraU_u.glif</string>
	<key>dvMatraUu.small</key>
	<string>dvM_atraU_u.small.glif</string>
	<key>dvMatraVocalicR</key>
	<string>dvM_atraV_ocalicR_.glif</string>
	<key>dvMatraVocalicR.small</key>
	<string>dvM_atraV_ocalicR_.small.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNDRa</key>
	<string>dvN_D_R_a.glif</string>
	<key>dvNRa</key>
	<string>dvN_R_a.glif</string>
	<key>dvNa</key>
	<string>dvN_a.glif</string>
	<key>dvNgYa</key>
	<string>dvN_gY_a.glif</string>
	<key>dvNga</key>
	<string>dvN_ga.glif</string>
	<key>dvNine</key>
	<string>dvN_ine.glif</string>
	<key>dvNn</key>
	<string>dvN_n.glif</string>
	<key>dvNna</key>
	<string>dvN_na.glif</string>
	<key>dvNnna</key>
	<string>dvN_nna.glif</string>
	<key>dvNukta</key>
	<string>dvN_ukta.glif</string>
	<key>dvNy</key>
	<string>dvN_y.glif</string>
	<key>dvNya</key>
	<string>dvN_ya.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOne</key>
	<string>dvO_ne.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPRa</key>
	<string>dvP_R_a.glif</string>
	<key>dvPa</key>
	<string>dvP_a.glif</string>
	<key>dvPh</key>
	<string>dvP_h.glif</string>
	<key>dvPhRa</key>
	<string>dvP_hR_a.glif</string>
	<key>dvPha</key>
	<string>dvP_ha.glif</string>
	<key>dvQRa</key>
	<string>dvQ_R_a.glif</string>
	<key>dvQa</key>
	<string>dvQ_a.glif</string>
	<key>dvRa</key>
	<string>dvR_a.glif</string>
	<key>dvRa_dvMatraU</key>
	<string>dvR_a_dvM_atraU_.glif</string>
	<key>dvRa_dvMatraUu</key>
	<string>dvR_a_dvM_atraU_u.glif</string>
	<key>dvRakar</key>
	<string>dvR_akar.glif</string>
	<key>dvRakar.small</key>
	<string>dvR_akar.small.glif</string>
	<key>dvRakar_dvMatraU</key>
	<string>dvR_akar_dvM_atraU_.glif</string>
	<key>dvRakar_dvMatraUu</key>
	<string>dvR_akar_dvM_atraU_u.glif</string>
	<key>dvReph</key>
	<string>dvR_eph.glif</string>
	<key>dvReph_dvAnusvara</key>
	<string>dvR_eph_dvA_nusvara.glif</string>
	<key>dvRha</key>
	<string>dvR_ha.glif</string>
	<key>dvRra</key>
	<string>dvR_ra.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSRa</key>
	<string>dvS_R_a.glif</string>
	<key>dvSa</key>
	<string>dvS_a.glif</string>
	<key>dvSeven</key>
	<string>dvS_even.glif</string>
	<key>dvSh</key>
	<string>dvS_h.glif</string>
	<key>dvShCa</key>
	<string>dvS_hC_a.glif</string>
	<key>dvShNa</key>
	<string>dvS_hN_a.glif</string>
	<key>dvShRYa</key>
	<string>dvS_hR_Y_a.glif</string>
	<key>dvShRa</key>
	<string>dvS_hR_a.glif</string>
	<key>dvShVa</key>
	<string>dvS_hV_a.glif</string>
	<key>dvSha</key>
	<string>dvS_ha.glif</string>
	<key>dvSha_dvMatraVocalicR</key>
	<string>dvS_ha_dvM_atraV_ocalicR_.glif</string>
	<key>dvShortA</key>
	<string>dvS_hortA_.glif</string>
	<key>dvShortE</key>
	<string>dvS_hortE_.glif</string>
	<key>dvShortO</key>
	<string>dvS_hortO_.glif</string>
	<key>dvSix</key>
	<string>dvS_ix.glif</string>
	<key>dvSs</key>
	<string>dvS_s.glif</string>
	<key>dvSsRa</key>
	<string>dvS_sR_a.glif</string>
	<key>dvSsTtYa</key>
	<string>dvS_sT_tY_a.glif</string>
	<key>dvSsTta</key>
	<string>dvS_sT_ta.glif</string>
	<key>dvSsTthYa</key>
	<string>dvS_sT_thY_a.glif</string>
	<key>dvSsTtha</key>
	<string>dvS_sT_tha.glif</string>
	<key>dvSsa</key>
	<string>dvS_sa.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvTRa</key>
	<string>dvT_R_a.glif</string>
	<key>dvTRa.alt</key>
	<string>dvT_R_a.alt.glif</string>
	<key>dvTTa</key>
	<string>dvT_T_a.glif</string>
	<key>dvTa</key>
	<string>dvT_a.glif</string>
	<key>dvTh</key>
	<string>dvT_h.glif</string>
	<key>dvThRa</key>
	<string>dvT_hR_a.glif</string>
	<key>dvTha</key>
	<string>dvT_ha.glif</string>
	<key>dvThree</key>
	<string>dvT_hree.glif</string>
	<key>dvTtTtYa</key>
	<string>dvT_tT_tY_a.glif</string>
	<key>dvTtTta</key>
	<string>dvT_tT_ta.glif</string>
	<key>dvTtTtha</key>
	<string>dvT_tT_tha.glif</string>
	<key>dvTtYa</key>
	<string>dvT_tY_a.glif</string>
	<key>dvTta</key>
	<string>dvT_ta.glif</string>
	<key>dvTthTthYa</key>
	<string>dvT_thT_thY_a.glif</string>
	<key>dvTthTtha</key>
	<string>dvT_thT_tha.glif</string>
	<key>dvTthYa</key>
	<string>dvT_thY_a.glif</string>
	<key>dvTtha</key>
	<string>dvT_tha.glif</string>
	<key>dvTwo</key>
	<string>dvT_wo.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUu</key>
	<string>dvU_u.glif</string>
	<key>dvV</key>
	<string>dvV_.glif</string>
	<key>dvVRa</key>
	<string>dvV_R_a.glif</string>
	<key>dvVa</key>
	<string>dvV_a.glif</string>
	<key>dvVisarga</key>
	<string>dvV_isarga.glif</string>
	<key>dvVocalicL</key>
	<string>dvV_ocalicL_.glif</string>
	<key>dvVocalicR</key>
	<string>dvV_ocalicR_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYRa</key>
	<string>dvY_R_a.glif</string>
	<key>dvYa</key>
	<string>dvY_a.glif</string>
	<key>dvYa.post</key>
	<string>dvY_a.post.glif</string>
	<key>dvYya</key>
	<string>dvY_ya.glif</string>
	<key>dvZa</key>
	<string>dvZ_a.glif</string>
	<key>dvZero</key>
	<string>dvZ_ero.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingleleft</key>
	<string>quotesingleleft.glif</string>
	<key>quotesingleright</key>
	<string>quotesingleright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
